.map-flyout {
  position: absolute;
  right: $sidebar-width;
  top: $nav-height;
  bottom: $bottom-bar-height + 1px;
  width: $flyout-width;
  padding: 15px 30px;
  background: $map-overlay;
  box-shadow: $map-overlay-outline;
  overflow-y: auto;
  opacity: 1;
  &.animate-hide {
    &.ng-hide {
      transition: opacity linear 0.3s;
      opacity: 0;
    }
  }
  .has-filters & {
    bottom: ($bottom-bar-height + 1px) * 2;
  }
  header,
  .stat {
    margin: 1em 0;
  }
  h2, h3, h4 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: #444;
  }
  h4 {
    font-style: italic;
    color: #666;
  }
  .word,
  .number {
    margin: 0;
    font-weight: bold;
    color: #05a2dc;
  }
  .word {
    font-size: 1.2em;
  }
  .number {
    font-size: 2.8em;
    &.good { color: $rank-good; }
    &.medium { color: $rank-medium; }
    &.poor { color: $rank-poor; }
    &.unknown { color: $unknown; }
  }
  .stat .stat .number,
  header .stat .number {
    font-size: 2em;
    color: #666;
  }
}
