.map-flyout {
  position: absolute;
  right: 0;
  top: 0;
  width: $flyout-width;
  overflow-y: auto;
  opacity: 1;

  .flyout-inner {
    position:relative;
    padding: 20px 30px;
    background: $map-overlay;
    box-shadow: $map-overlay-outline;
  }

  .flyout-missing-data{
    text-align:left;
    margin-top:$content-border-height;
    font-size:14px;
    text-transform:capitalize;
  }

  &.animate-hide {
    &.ng-hide {
      transition: opacity linear 0.3s;
      opacity: 0;
    }
  }
  .has-filters & {
    bottom: $bottom-bar-height + 1px;
  }
  header,
  .stat {
    margin: 0.5em 0;
  }
  h2, h3, h4 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: #444;
    text-transform: capitalize;
  }
  h4 {
    font-style: italic;
    color: #666;
  }
  .word,
  .number {
    margin: 0;
    font-weight: bold;
    color: $theme-blue;
  }
  .word {
    font-size: 1.1em;
  }
  .number {
    font-size: 2em;
    &.GOOD { color: $rank-good; }
    &.MEDIUM { color: $rank-medium; }
    &.POOR { color: $rank-poor; }
    &.UNKNOWN { color: $unknown; }
    &.NOCOLOR { color: #000000; }
    &.MISSING {
      font-size: 1.25em;
    }
  }
  .stat .stat .number,
  header .stat .number {
    font-size: 2em;
    color: #666;
  }
  .small-rank {
    font-size: 0.8em;
  }
}
