body {
  height: 100%;
  width: 100%;
}

.map-widget {
  /* establish a positioning context for the rest of the app components*/
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: $footer-height;
}

.map-position-wrap {
  position: absolute;
  top: $nav-height;
  left: 0;
  right: $sidebar-width;
  bottom: 0;
}
#map {
  height: 100%;
}

map-bottom-toggle {
  z-index: 1;
  position: absolute;
  bottom: 0;
  &.legend {
    width: 50%;
    left: 50%;
  }
  &.filters {
    width: 50%;
  }
}

.sidebar {
  position: absolute;
  top: $nav-height;
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  overflow-y: auto;
  overflow-x: hidden;
  .contained {
    width: $sidebar-width;
  }
}
