@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin content-border{
  border-top: $content-border-height solid $theme-blue;
}

@mixin buffer-top-bottom($vbuffer) {
  padding-top: $vbuffer;
  padding-bottom: $vbuffer;
}
