// pass rate icons - bigger
.pass-rate{
  width:20px;
  height:42px;
  background-image: url(../images/sprite-school-icons.png);
  background-repeat: no-repeat;
  float:left;
  background-size: 140px 79px;

//  girl pass rate icons
&.girl-pass-green{
  background-position: -19px 1px;
  }
&.girl-pass-red{
    background-position: -41px 1px;
  }
&.girl-pass-grey{
    background-position: 2px 1px;
  }
&.girl-pass-yellow{
      background-position: -60px 1px;
  }
// boy pass rate icons
&.boy-pass-green{
    background-position: -19px -40px;
    }
&.boy-pass-red{
      background-position: -40px -40px;
  }
&.boy-pass-grey{
      background-position: 2px -39px;
    }
&.boy-pass-yellow{
      background-position: -60px -40px;
    }
}

.pt-ratio{
  width:15px;
  height:30px;
  background-image: url(../images/sprite-school-icons.png);
  background-repeat: no-repeat;
  background-size: 140px 79px;
  float:left;

&.girl-green{
  background-position: -95px 0;
  }
&.girl-red{
    background-position: -109px 0;
  }
&.girl-grey{
    background-position: -81px 0;
  }
&.girl-yellow{
    background-position: -124px 0;
  }
&.boy-green{
    background-position: -95px -41px;
  }
&.boy-red{
    background-position: -109px -41px;
  }
&.boy-grey{
    background-position: -80px -41px;
  }
&.boy-yellow{
    background-position: -124px -41px;
  }
}
