// pass rate icons - bigger
.pass-rate{
  width:20px;
  height:42px;
  background-image: url(../images/sprite-school-icons.png);
  background-repeat: no-repeat;
  float:left;
  background-size: 140px 79px;

//  girl pass rate icons
&.girl-pass-green{
  background-position: -19px 3px;
  }
&.girl-pass-red{
    background-position: -41px 2px;
  }
&.girl-pass-grey{
    background-position: 2px 2px;
  }
&.girl-pass-yellow{
      background-position: -60px 2px;
  }
// boy pass rate icons
&.boy-pass-green{
    background-position: -19px -40px;
    }
&.boy-pass-red{
      background-position: -40px -40px;
  }
&.boy-pass-grey{
      background-position: 2px -40px;
    }
&.boy-pass-yellow{
      background-position: -60px -40px;
    }
}

.pt-ratio{
  width:13px;
  height:27px;
  background-image: url(../images/sprite-school-icons.png);
  background-repeat: no-repeat;
  float:left;

&.girl-green{
  background-position: -92px 0;
  }
&.girl-red{
    background-position: -105px 0;
  }
&.girl-grey{
    background-position: -78px 0;
  }
&.girl-yellow{
    background-position: -118px 0;
  }

&.boy-green{
    background-position: -92px -38px;
  }
&.boy-red{
    background-position: -105px -38px;
  }
&.boy-grey{
    background-position: -78px -38px;
  }
&.boy-yellow{
    background-position: -118px -38px;
  }
}
