@import "variables";
@import "mixins";

@import "layout";
@import "flyout";
@import "pupilsprite";

.performance-header{
  @include border-radius(4px);
  font-size:13px;
  font-weight:bold;
  padding:5px 10px;
  line-height:20px;
  color:$content-bg;
  &.best-perform{
    background:$rank-good;
  }
  &.poor-perform{
    background:$rank-poor;
  }

  .glyphicon-star::before{
    display: block;
    font-size:15px;
    margin: 10px 5px 5px 5px;
  }
}

.school-performance{
  width:100%;

  .name{
    font-size:11px;
    margin-left:0;
    padding-left:0;
    width: 75%;
  }
  .rank{
    font-size:13px !important;
    padding-right:15px;
    font-weight:bold;
    width: 10%;
  }
  td{
    outline:none;
    padding-left:10px;
  &.passrate{
      padding-right: 3px;
      text-align: right;
    }
  &.passrategreen{
    color: $rank-good;
    font-weight:bold;
    }
  &.passratered{
    color: $rank-poor;
    font-weight:bold;
    }
  &.passrateyellow{
    color: $rank-medium;
    font-weight:bold;
  }
  }
  tr{
  &:hover{
    background:$menu-tab-grey;
    }
  }
  tr:nth-child(even) {
    background:$menu-tab-grey;
  }
}

.district-schoollist {
  margin-top:-20px;
}
