// Colours
$theme-blue: #05a2dc;
$theme-blue-light: #8cd1ed;
$theme-blue-lightest: #b9e5f5;
$grey-dark: #3a3a3a;
$grey-light: #c0c0c0;
$grey-lightest: #e3e3e3;

$rank-good: #80c671;
$rank-medium: #e9c941;
$rank-poor: #f56053;

$best-perform: #82c675;
$poor-perform: #f05e55;

$body-text-color: #777777;
$content-bg: #ffffff;

$unknown: #aaaaaa;
$menu-tab-grey:#f0f0f0;

$map-overlay: hsla(0, 0%, 100%, 0.9);
$map-overlay-edge: hsla(0, 0%, 0%, 0.1);
$map-overlay-outline: -1px -1px 0 $map-overlay-edge;

// Typography
$label-weight: 800;
$school-list-weight:700;
$content-weight: 300;
$district-text:11px;
$table-text: 13px;
$panel-text: 14px;
$school-info-text:16px;

// Layout

$header-height: 70px;

$nav-height: 56px;  // including content-border  // 47

$content-border-height: 8px;

$sidebar-width: 450px;

$flyout-width: 230px;

$bottom-bar-height: 32px;

$swahili-title-width: 120px;

$legend-content-width: 360px;
$filter-content-width: 360px;

// translation related
$swahili-title-width: 110px;

$footer-height: $header-height;

$xxs: 480px;  // very small screens
$xs-ish: 640px;  // small but not tiny?
$xs: 768px;  // bootstrap "xs" is below this
$sm-ish: 850px;  // weird in-between breakpoint :)
$sm: 992px;  // bootstrap "sm" is below this
$md-ish: 1024px;  // bootstrap "md" is up to 1170
$lg-ish: 1280px;  // bootstrap "lg" is over 1200
