// Colours
$theme-blue:     #05a2dc;
$theme-blue-nav: #0592cc;  // should this be same as $theme-blue?
$theme-blue3:    #0572ac;  // also this?
$theme-blue4:    #0576a4;  // aaaaand....
$theme-blue-light: #8cd1ed;
$grey-light:     #c0c0c0;

$rank-good: #38a21c;
$rank-medium: #e9c941;
$rank-poor: #f56053;

$best-perform: #82c675;
$poor-perform: #f05e55;

$body-text-color: #777777;
$content-bg: #ffffff;

$unknown: #aaa;

$map-overlay: hsla(0, 0%, 100%, 0.9);
$map-overlay-edge: hsla(0, 0%, 0%, 0.1);
$map-overlay-outline: -1px -1px 0 $map-overlay-edge;

// Layout

$header-height: 70px;

$nav-height: 67px;  // including content-border
$content-border-height: 12px;

$sidebar-width: 450px;

$flyout-width: 230px;

$bottom-bar-height: 32px;

$legend-content-width: 360px;
$filter-content-width: 360px;

$footer-height: $header-height;

$a: 480px;
$b: 768px;
$c: 850px;
$e: 992px;
$f: 1024px;
