// Colours
$theme-blue:     #05a2dc;
$theme-blue-light: #8cd1ed;
$grey-light:     #c0c0c0;

$rank-good: #80c671;
$rank-medium: #e9c941;
$rank-poor: #f56053;

$best-perform: #82c675;
$poor-perform: #f05e55;

$body-text-color: #777777;
$content-bg: #ffffff;

$unknown: #aaa;

$map-overlay: hsla(0, 0%, 100%, 0.9);
$map-overlay-edge: hsla(0, 0%, 0%, 0.1);
$map-overlay-outline: -1px -1px 0 $map-overlay-edge;

// Layout

$header-height: 70px;

$nav-height: 56px;  // including content-border  // 47

$content-border-height: 8px;

$sidebar-width: 450px;

$flyout-width: 230px;

$bottom-bar-height: 32px;

$legend-content-width: 360px;
$filter-content-width: 360px;

$footer-height: $header-height;

$a: 480px;
$xs:768px;  // bootstrap "xs" is below this
$c: 850px;
$e: 992px;
$f: 1024px;
$g: 1280px;
