@import "variables";
@import "mixins";

@import "layout";
@import "flyout";
@import "pupilsprite";
@import "schoollist";

@import "cartodbhacks";  // remove when cartodb is gone


/* Space out content a bit */
body {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

.no-padding{
  padding:0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

#main-nav.navbar-default {
    background-color: $theme-blue;
    border: none;
    border-radius: 0;
}
.page-header{
    margin: 10px 0 15px;
    font-weight: 800;
    color: #777;
    font-size: 15px;
    padding-bottom: 15px
}
.navbar-default .navbar-nav > li > a{
    color: #F0F0F0;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: $theme-blue;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $theme-blue-nav;
}

.navbar-toggle{
  background: $theme-blue;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: $theme-blue4;
}

.navbar-toggle .icon-bar{
  background:#fff;
}

@media (max-width: $f) {
    .nav > li > a {
        padding: 10px 8px;
    }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#main-header{
    display: block;
    position: relative;
    top: 0px;
    width: 100%;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
}

.map-container{
    padding-right: 0;
    padding-left: 0;
    overflow: visible;
    background:#f6f6f6;
    @include content-border;
}
.navbar{
    margin-bottom: 0;
}

/* Map hover */
.map-container div.cartodb-tooltip {
    position: absolute;
    display: none;
    min-width: 120px;
    max-width: 250px;
    overflow-y: hidden;
    left: 20px !important;
    top: 100px !important;
    z-index: 5;
}
.map-container div.cartodb-tooltip h4{
    color: #828282;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 600;
    font-size: 11px;
}

.map-container div.cartodb-tooltip p{
    color: $theme-blue;
    font-weight: 300;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 8px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: $b) {
    /* Remove the padding we set earlier */
    .header,
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
#main-nav-items{
  margin-top:26px;
}
@media only screen and (max-width: $e) {
  #main-nav-items{
    width: 70%;
    position:absolute;
    top:13px;
    right:20px;
  }
  #main-nav-items ul{
    float:right;
  }
}
}


.preload {
    display:none;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #1595d3;
    text-transform:uppercase;
    display:inline-block;
    margin-top:16px;
    font-size:18px;
    font-weight:700;
    width:15%;
    float:left;
}

/*The content below this is all related to the tables*/
#schooltablescontainer {
    margin: 20px auto;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 246px;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

table.schools {
    table-layout: fixed;
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

table.schools a:link, a:visited, a:hover {
    color:inherit;
    text-decoration: none;
}

table.schools tr:hover {
    background-color: #b9e5f5;
}

table.schools td {
    border-bottom: 1px dotted #e3e3e3;
    height: 35px;
    white-space: nowrap;
}

table.schools td.rank {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 14px;
    width: 20px;
    text-align: right;
}

table.schools td.name {
    color: #6b6b6b;
    font-weight: 400;
    font-size: 14px;
    text-align:left;
    padding:8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.schools td.passrategreen {
    color: $rank-good;
    font-weight: 400;
    font-size: 16px;
    width: 55px;
}

table.schools td.passrateyellow {
  color: $rank-medium;
  font-weight: 400;
  font-size: 16px;
  width: 55px;
}

table.schools td.passratered {
    color: $rank-poor;
    font-weight: 400;
    font-size: 16px;
    width: 55px;
}

table.schools p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: $body-text-color;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

p.tableheader {
    height: 32px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin:60px auto 20px auto;
    &.best-performing{
      background:$best-perform;
    }
    &.poor-perform{
      background:$poor-perform;
    }
}


img.face {
  margin-top: 6px;
  margin-right: 5px;
  margin-left:-6px;
  display: inline-block;
  vertical-align: text-bottom;
}

/* ----------------- */
.perfomance-gauges{
  padding-bottom: 0;
}
.perfomance-gauges .col-sm-4{
  padding: 0;
}
.dial-title{
  color: $theme-blue;
  font-weight: bold;
  font-size:12px;
  margin-bottom: 2px
}
.list-horizontal li{
  display: inline-block;
}
div.cartodb-share a{
  width: 30px;
  height: 30px;
}
.nav-tabs{
  display:table;
  width:101%;
}
.nav-tabs > li {
  float: none;
  display: table-cell;
}
#nav-tabs-dashboard.nav-tabs > li {
  width: 20%;
}

#nav-tabs-dashboard.nav-tabs > li.small-nav-tabs {
  width: 10%;
}

#nav-tabs-dashboard.nav-tabs > li:last-child a{
  border-right: none;
}
.nav-tabs > li > a{
  background: #f6f6f6;
  margin-right: 0px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-radius: 0;
  cursor: pointer;
  outline:none;
  color:#aaaaaa;
  margin-left:-1px;
  font-size:13px;
  padding: 13px 0;
  text-align:center;
  display: table-cell;
  width: 1%;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  background:#1aa4db;
  color:#ffffff;
  border:1px solid #1aa4db;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.show-sm{
    display: none;
}
@media screen and (max-width: $c) {
    .hide-sm{
        display: none;
    }
    .show-sm{
        display: block;
    }
}

@media screen and (max-width: $a) {
    .nav-tabs > li > a{
        font-size: 10px;
    }
}

.btn-default{
  border-color: #ffffff;
}
.search-schools,
.search-schools input{
    /* min-width: 300px; */
  border: 1px solid #ffffff;
  outline:none;
  border-color: #ffffff;
}
.search-schools{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  .form-control{
    box-shadow: none;
    text-transform:uppercase;
    color:#d4d4d4;
    font-weight:bold;
    &:hover{
      background: #ffffff;
      border: 1px solid #ffffff;
    }
    &:focus{
      outline:none;
      background: #ffffff;
      border: 1px solid #ffffff;
    }
  .text-muted{
    color: #d4d4d4;
    }
  }
}
.ui-select-toggle{
  outline:none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui-select-bootstrap > .ui-select-choices{
  margin-top:0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.container-fluid.map-nav{
    padding-left: 0;
}
.select2-highlighted .text-muted{
    color: #EEEEF5
}
.ui-select-choices-row.active > a > .text-muted{
  color:#eeeeee;
}
.form-horizontal{
  margin-bottom:20px;
  margin-top:20px;
}
/* School info */
#schoolinfo-plaholder{
    display: block;
    padding: 100px 40px;
    color: #CCC;
    font-size: 18px;
}
#schoolinfo {
    margin: 0 auto;
    /* -webkit-filter: drop-shadow(0px 1px 5px #cdcdcd);
    filter: drop-shadow(0px 1px 5px #cdcdcd); */
    position: relative;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
#schoolinfo .top-school-badge{
    position: absolute;
    right: 0px;
    margin-right: -16px;
    top: 24px;
}

@media screen and (max-width: $c) {
    #schoolinfo .top-school-badge{
        top: 30px;
    }
    #schoolinfo .top-school-badge img{
        width: 60%;
    }
}

#schoolinfo p.schoolname {
  font-size: 16px;
  font-weight: 700;
  color: $theme-blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#schoolinfo p.code {
  font-size: 13px;
  font-weight: 500;
  color:  darken($body-text-color, 20%);
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}

#schoolinfo .widget {
  position: relative;
  padding-left: 0;
  margin-bottom:10px;
  overflow:hidden;
}

#schoolinfo .widget.first {
  position: relative;
  padding-left: 0;
  margin-left:0
}

#schoolinfo .widgettitle {
  width:105%;
  font-size: 12px;
  font-weight: 800;
  color: $theme-blue;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 9px;
  margin-top:10px;
  p{
  margin:0
  }
}

#schoolinfo .widgetnumber {
  font-size: 30px;
  font-weight: 800;
  color: #3a3a3a;
  margin-top: -5px;
  margin-bottom: 2px;
  margin-right: 10px;
}

@media screen and (max-width: $c) {
    #schoolinfo .widgetnumber {
        font-size: 18px;
        font-weight: 800;
    }
}

#schoolinfo img.arrow {
    margin-right: 5px;
}

#schoolinfo img.teacher {
    margin-right: 20px;
    vertical-align: middle;
    margin-left: 5px;
    display: inline;
}

.img-dial{
    max-height: 70px;
    margin-top: 5px;
    max-width: 100%;
}

/* Distict info */
#districtinfo{
 padding-right:50px;
}

p.tableheaderdistrict {
    background-color: $theme-blue;
    width: 207px;
    height: 38px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left:15px;
    padding-top:2px;
}

table.districts {
    table-layout: fixed;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-collapse: collapse;
}

table.districts td {
    /*border-bottom: 1px dotted #e3e3e3;*/
    height: 25px;
    white-space: nowrap;
}

table.districts td.rank {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 13px;
    width: 20px;
    text-align: right;
}

table.districts td.name {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 13px;
    width: 125px;
    text-align:left;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.districts td.passrategreen {
    color: $rank-good;
    font-weight: 400;
    font-size: 18px;
    width: 40px;
}

table.districts td.passratered {
    color: $rank-poor;
    font-weight: 400;
    font-size: 18px;
    width: 40px;
}

table.districts p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: $body-text-color;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

/* Legends */
#legend {
    color: #828282;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

#legend.schools {
    background-color: white;
}

#legend p.title {
    color: $theme-blue;
    margin-top: 0px;
    margin-bottom: 5px;
}


#legend a:link {
    color: $theme-blue;
}

#legend a:link,
#legend a:visited,
#legend a:hover {
    color: $theme-blue;
    text-decoration: none;
}

#legend.districts {
    background-color: white;
    position: absolute;
    bottom: 7px;
    left: 7px;
    -webkit-filter: drop-shadow(0px 1px 5px #cdcdcd);
    filter: drop-shadow(0px 1px 5px #cdcdcd);
}

/* Pass rates widget */

#passOverTime .line {
  fill: none;
  stroke: #E6E9EA;
  stroke-width: 4px;
}

.x.axis path {
  display: none;
}

.dotlabel {
  stroke: white;
  font-size: 11px;
}

.circle-poor {
  fill:  $rank-poor;
}

.circle-medium {
  fill: $rank-medium;
}

.circle-good {
  fill: $rank-good;
}
/* General content */
#generalcontent {
  @include content-border;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: $theme-blue;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
  min-height: 600px;
}
@media screen and (min-width: $c) {
    #generalcontent {
    }
}
#generalcontent p {

}

#generalcontent p.text {
    color: $body-text-color;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

#generalcontent a:hover,
#generalcontent a:hover a:visited,
#generalcontent a:hover a:link {
    color: $theme-blue;
    font-weight: 400;
    text-decoration: none;
}
#generalcontent .boxlink-container{
    margin: 20px 0;
}
#generalcontent a.boxlink {
  @include border-radius(5px);
  background-color: $theme-blue;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 12px;
  text-transform:uppercase;
  margin: 20px auto;
  display: block;
  max-width: 220px;
  padding:5px 15px;
}


@media screen and (max-width: $b) {
  #generalcontent a.boxlink {
    font-size: 13px;
  }
}

#generalcontent a.boxlink:hover {
    background-color: #2ab4e7;
}

// homepage-specific container
.homepage-content{
  position:absolute;
  top: $header-height/1.58;
  bottom:0;
  overflow:hidden;
}

.ui-select-bootstrap > .ui-select-match {
    overflow: hidden;
}

.google-form{
    height: 800px;
    width: 760px
}
@media screen and (max-width: $b) {
    .google-form{
        width: 100%;
    }
}

.loading {
  background-image: url(images/loading-icon.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100px;
  height: 80px;
}

#spinner {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color:grey;
  opacity: .8;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
}

/*header*/
.navbar-brand{
  &.header-flag{
    float:left;
    margin-right:10px;
    padding-top:10px;
    padding-left:0;
  }
}

/*header - navigation*/
.navbar-collapse{
  float:right;
}

/*language nav*/
.navbar-collapse.navbar-lang{
  float:right;
  margin-left: 20px;
  background: #f0f0f0;
  margin-top:10px;
  padding-top:17px;
  padding-bottom:13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.navbar-lang ul{
  height:20px;
  display:block;
}

.navbar-lang li{
  border-right:1px solid #1595d3;
  display:inline;
}

.navbar-lang li:last-child{
  border-right:none;
}

.navbar-lang li a{
  color: #aaaaaa;
  padding-top:0;
  padding-bottom:0;
  line-height:14px;
  outline:none;
  -webkit-transition: color 300ms ease-in;
  -moz-transition: color 300ms ease-in;
  -o-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

.navbar-lang li a:hover,
.navbar-lang li.active a{
  color: #1595d3;
}

/*responsive behavior for language nav*/
@media only screen and (max-width : $e) {
  .navbar-collapse.navbar-lang{
    width:165px;
    background:none;
    background: none;
    padding-top:0;
    padding-bottom:0;
    float:right;

  }
  .navbar-lang li a{
  font-size:13px;
  }
}

@media only screen and (max-width : $b) {
  .navbar-collapse.navbar-lang{
    width:150px;
    float:none;
    position:absolute;
    top:2px;
    right:60px;
}
  .navbar-collapse.navbar-lang ul{
    height:18px;
  }
  .navbar-collapse.navbar-lang li{
    padding-bottom:10px;
    position:relative;
    float:left;
    height:14px;
  }
  .navbar-lang li a{
    font-size:15px;
    line-height:10px;
  }
  .navbar-lang li a:hover{
    background:none;
  }
}

/* Language nav got extra small devices, phones */
@media only screen and (max-width: $a) {
  .navbar-collapse.navbar-lang{
    display:none;
    /*temporary*/
  }
}

/*main nav*/
ul.main-nav{
}
ul.main-nav li{
  border-right:1px solid #5b5b5b;
  display:inline;
  height:15px;
}

ul.main-nav li:last-child{
  border-right:none;
}

ul.main-nav li a{
  line-height:16px;
  padding-top:0;
  color:#5b5b5b;
}
ul.main-nav li a:hover,
ul.main-nav li a:focus{
  color: #1595d3;
  background:none;
}
ul.main-nav li a.dropdown-toggle,
ul.main-nav li.dropdown a.dropdown-toggle{
  background-color: #ffffff;
}

ul.main-nav li.dropdown.open{
background-color:#ffffff;
}

ul.main-nav li ul{
  padding-top:10px;
  top:20px;
  left:0;
  border:none;
}

ul.main-nav li ul li{
 border-right:none;
}

ul.main-nav li ul li a{
  padding-top:10px;
  padding-bottom:10px;
}

.open > .dropdown-menu{
  @include border-radius(0);
  border:none;
  top:47px;
  width:465px;
  background-color: rgba(5, 162, 220, 0.9);
  color: #ffffff;
  padding-left:20px;
  ul{
    border-right:none;
    background: $theme-blue;
    padding:20px;
    display:block;
  }
  li{
    float:left;
    padding:30px 30px;
  &:hover{
    font-weight:bold;
    cursor: pointer;
    }
  }
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus{
  background: $theme-blue;
  color:#ffffff;
  border:1px solid $theme-blue;
}

/* header - announcement */
.header-announcements {
  clear: left;
  float: right;
}
.header-announcements a {
  padding: 10px 15px;
}


// Map bottom bar
.bottom-white-bar {
  background: $map-overlay;
}
map-bottom-toggle {
  header {
    height: $bottom-bar-height;
    background: $map-overlay;
    box-shadow: $map-overlay-outline;
    text-align: center;
    h3 {
      font-size: 1em;
      line-height: $bottom-bar-height;
      font-weight: bold;
      color: $theme-blue;
      cursor: pointer;
      &:before,
      &:after {
        content: "▾";
        padding: 0 1em;
      }
    }
    &.closed h3:before,
    &.closed h3:after {
      content: "▴";
    }
  }
  .body {
    padding: 5px 1em;
    margin-top: 1px;
    background: $map-overlay;
    box-shadow: $map-overlay-outline;
    &.closed {
      @include sr-only;
    }
  }
}
map-bottom-toggle.legend {
  h4 {
    max-width: $legend-content-width;
    margin: 15px auto 10px;
    font-size: 1em;
  }
  ol {
    max-width: $legend-content-width;
    margin: 10px auto 20px;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 0.4em;
    font-weight: bold;
    color: #777;
    &:before {
      content: "";
      display: inline-block;
      position: relative;
      height: 1.2em;
      width: 1.2em;
      border-radius: 100%;
      margin-right: 0.333em;
      vertical-align: middle;
      top: -2px;
    }
    &.unknown:before {
      border: 2px solid $unknown;
    }
    &.poor:before {
      background: $rank-poor;
    }
    &.medium:before {
      background: $rank-medium;
    }
    &.good:before {
      background: $rank-good;
    }
  }
}
map-bottom-toggle.filters {
  padding-left: 1px;  // gap
  h4 {
    max-width: $filter-content-width;
    font-size: 1em;
  }
}

/* Sidebar */
.sidebar {
  padding-top: 10px;
}
.sidebar .contained {  /* hack for search for now */
  margin: 0;
}


.text-red {
    color: $rank-poor;
}
.text-yellow {
    color: $rank-medium;
}
.text-green {
    color: $rank-good;
}

.big-character {
  position: absolute;
  font-size: 36px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 0px;
  white-space: nowrap;
  left: -10px;
}
.medium-character {
  position: absolute;
  font-size: 25px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  white-space: nowrap;
  left: 0;
}
.text-grey {
  color: $unknown;
}
.medium-small-character {
  color: $unknown;
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  white-space: nowrap;
  top: 4px;
}

.chart-title {
  color: $theme-blue;
  font-size: 12px;
  margin-bottom: 2;
  fill: #05a2dc;
  width: 100%;
  text-transform:uppercase;
&.rank-label{
  position: absolute;
  left:0;
  padding-bottom:10px;
  }
}
.widget-full-width{
  width:100%;
}
.rank-value{
  height: 45px;
  margin-top: 10px;
}

#nationalRanking{
  margin-top:-9px;
}

// performance tabs
.performance-nav {
  padding-right:0;
  padding-left:0;

  .nav-tabs {
    border-bottom: none;

    li {
      width:52%;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border:1px solid #eeeeee;

      &.active {
        border:1px solid $theme-blue-light;
        a {
          background: $theme-blue-light;
          border:1px solid $theme-blue-light;
        }
      }

      a {
        border:1px solid transparent;
        text-transform:uppercase;
        background: #ffffff;
        &:hover {
          color: $theme-blue;
        }
      }
    }
  }
}

// homepage
.page-title{
  color: $grey-light;
  font-size:30px;
  line-height:34px;
  font-weight:300;
  padding-top: 50px;
}

// school location markers
.school-location {
  &:hover {
    stroke: $theme-blue;
  }
}

// selectable div to replace checkbox in year selection
.selectable {
  @include border-radius(50%);
  border:2px solid #ffffff;
  display:block;
  float:left;
  width:15px;
  height:15px;
  margin: 2px 5px 0 0;
  &.selected {
    background:#c0edff;
  }
}

// footer
.footer{
  background:$theme-blue;
  position: absolute;
  width: 100%;
  bottom:0;
  height: $header-height;
  p{
    color:#ffffff;
    margin-top:20px;
    font-size:12px;
    line-height:14px;
  }
  .navbar-brand{
    height:72px;
  }
  .navbar-collapse{
    padding-top:$header-height/2.6;
    li{
      border-left:1px solid #ffffff;
      height:15px;
      &:first-child{
        border-left:none;
      }
      a{
        color: #ffffff;
        font-size:12px;
        padding-top:0;
        padding-bottom:0;
        line-height:13px;
        &:hover{
          color:darken($body-text-color,15%);
          background:none;
        }
      }
    }
  }
}
