@import "variables";
@import "mixins";

@import "layout";
@import "flyout";
@import "pupilsprite";
@import "schoollist";

/* Space out content a bit */
body {
  display: block;
  font-family: $global-font;
  background:$theme-blue;
}

.no-padding{
  padding:0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}
#main-nav.navbar-default {
    background-color: $theme-blue;
    border: none;
    border-radius: 0;
}
.page-header{
    font-weight: $school-list-weight;
    color: $body-text-color;
    font-size: 15px;
    border-bottom:2px solid #eeeeee;
    margin: 10px 10px 0 15px;
}

.national-link {
  border-bottom:2px solid #eeeeee;
  margin-left: -3px;
  padding: 10px 0;
  a{
    font-weight: bold;
  }
}

.navbar-default .navbar-nav > li > a{
    color:$menu-tab-grey;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: $content-bg;
    background-color: $theme-blue;
    outline:none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $theme-blue;
}

.navbar-toggle{
  background: $theme-blue;
  position:absolute;
  top:10px;
  right:0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: $theme-blue;
}

.navbar-toggle .icon-bar{
  background:$content-bg;
}

.browsehappy {
  margin: 1em 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background: white;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $grey-lightest;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#main-header {
  display: block;
  position: relative;
  top: 0px;
  width: 100%;
  height: 70px;
  font-family: $global-font;
  background: $content-bg;
}

.map-container{
    padding-right: 0;
    padding-left: 0;
    overflow: visible;
    background:$menu-tab-grey;
    @include content-border;
}
.navbar{
    margin-bottom: 0;
}

  .page-title{
    padding-top:0;
    margin-top:-20px;
    font-size:25px;
    line-height:27px;
  }

.preload {
    display:none;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: $global-font;
}

h1 {
    font-family: $global-font;
    color: $theme-blue;
    text-transform:uppercase;
    display:inline-block;
    margin-top:16px;
    font-size:18px;
    font-weight:$school-list-weight;
    width:120px;
    float:left;
}

/*The content below this is all related to the tables*/
#schooltablescontainer {
    margin: 20px auto;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 246px;
    border: 1px solid $grey-lightest;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.position {
  position: relative;
  display: block;
}

table.schools {
    table-layout: fixed;
    width: 95%;
    font-family: $global-font;
    text-align: center;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

table.schools a:link, a:visited, a:hover {
    text-decoration: none;
}

table.schools tr:hover {
    background-color: $theme-blue-lightest;
}

table.schools td {
    border-bottom: 1px dotted $grey-lightest;
    height: 35px;
    white-space: nowrap;
}

table.schools td.rank {
    color: $body-text-color;
    font-weight: 600;
    font-size: $panel-text;
    width: 20px;
    text-align: right;
}

table.schools td.name {
    color:$body-text-color;
    font-weight: $light-text-weight;
    font-size: $panel-text;
    text-align:left;
    padding:8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.schools td.passrategreen {
    color: $rank-good;
    font-weight: $light-text-weight;
    font-size: $school-info-text;
    width: 55px;
}

table.schools td.passrateyellow {
  color: $rank-medium;
  font-weight: $light-text-weight;
  font-size: $school-info-text;
  width: 55px;
}

table.schools td.passratered {
    color: $rank-poor;
    font-weight: $light-text-weight;
    font-size: $school-info-text;
    width: 55px;
}

table.schools td.passrateunknow {
  color: $unknown;
  font-weight: $light-text-weight;
  font-size: $school-info-text;
  width: 55px;
}

table.schools p {
    text-transform: uppercase;
    font-size: $district-text;
    font-weight: $content-weight;
    color: $body-text-color;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

p.tableheader {
    height: 32px;
    border-radius: 3px;
    text-align: center;
    font-family: $global-font;
    color: $content-bg;
    font-weight: $light-text-weight;
    font-size: $panel-text;
    margin:60px auto 20px auto;
    &.best-performing{
      background:$best-perform;
    }
    &.poor-perform{
      background:$poor-perform;
    }
}


img.face {
  margin-top: 6px;
  margin-right: 5px;
  margin-left:-6px;
  display: inline-block;
  vertical-align: text-bottom;
}

/* ----------------- */
.perfomance-gauges{
  padding-bottom: 0;
  margin-top: 10px;
  .missing-data{
    top: 20px;
  }
}
.dial-title{
  color: $theme-blue;
  font-weight: $school-list-weight;
  font-size:$small-title;
  margin-bottom: 2px
}
.highcharts-container {
  .highcharts-series {
    & > circle {
      fill: #777;
    }
  }
}

.list-horizontal li{
  display: inline-block;
}
div.cartodb-share a{
  width: 30px;
  height: 30px;
}
.nav-tabs{
  display:table;
  width:100%;
}
.nav-tabs > li {
  float: none;
  display: table-cell;
  width: 17%;
}
/* sidebar toggle buttons should be 1/2 width */
.sidebar-toggle-pair .nav-tabs {
  display: block;
  & > li {
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 1px;
    a{
      font-size:15px;
    }
  }
}

#nav-tabs-dashboard.nav-tabs > li.small-nav-tabs {
  width: 10%;
}

#nav-tabs-dashboard.nav-tabs > li:last-child a{
  border-right: none;
  background: $grey-light;
  color:$content-bg;
  &:hover{
    background: $theme-blue;
  }
}
.nav-tabs > li > a {
  box-sizing: border-box;
  height: $nav-height - $content-border-height;  // 1px for the bottom grey line
  background:$menu-tab-grey;
  padding: 0 15px;
  margin-right: 0px;
  border-right: 1px solid $navtabs-border-color;
  border-radius: 0;
  cursor: pointer;
  outline:none;
  color:$unknown;
  margin-left:-1px;
  font-size:17px;
  line-height:20px;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  width: 1%;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  background: $theme-blue;
  color:$content-bg;
  border:1px solid transparent;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}
.link {
  color: $theme-blue;
  cursor: pointer;
}
.show-sm{
    display: none;
}
.btn-default{
  border-color: $content-bg;
}
.search-schools,
.search-schools input{
    /* min-width: 300px; */
  border: 1px solid $content-bg;
  outline:none;
  border-color: $content-bg;
  margin-top: 10px;
}
.search-schools{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-left: 1px solid $content-bg;
  border-right: 1px solid $content-bg;
  border-top:1px solid $menu-tab-grey;
  border-bottom:1px solid $menu-tab-grey;
  padding-left:20px;
  .form-control{
    box-shadow: none;
    text-transform:uppercase;
    color:$grey-light;
    font-weight:$school-list-weight;
    outline:none;
    &:hover{
      background: $content-bg;
      border: 1px solid $content-bg;
    }
    &:focus{
      outline:none;
      border: 1px solid $content-bg;
    }
  .text-muted{
    color: $muted-text;
    }
  }
}
.text-school-list {
  text-transform: capitalize;
}
.ui-select-toggle{
  outline:none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui-select-bootstrap > .ui-select-choices{
  margin-top:0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.container-fluid.map-nav{
    padding-left: 0;
}
.container-fluid.margin-top {
  margin-top: 15px;
}
.select2-highlighted .text-muted{
    color: $menu-tab-grey;
}
.ui-select-choices-row.active > a > .text-muted{
  color: $grey-lightest;
}
.ui-select-bootstrap .ui-select-choices-row.active>a{
  background:$theme-blue;
}

.ui-select-choices-group{
  width:85%;
  padding:0;
  margin:0;
}

.ui-select-choices-row-inner{
  width:100%;
}

.form-horizontal{
  margin-bottom:10px;
  .glyphicon{
    color:$grey-light;
    font-size:20px;
    position:absolute;
    left:30px;
    top:16px;
    z-index:2;
  }
}
/* School info */
#schoolinfo-placeholder{
    padding: 23px 0 0 0;
    color: $grey-light;
    font-size: $school-info-text;
    float: left;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
#schoolinfo {
    margin: 0 auto;
    /* -webkit-filter: drop-shadow(0px 1px 5px #cdcdcd);
    filter: drop-shadow(0px 1px 5px #cdcdcd); */
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: $global-font;
}

#schoolinfo p.schoolname {
  font-size: $school-info-text;
  font-weight: 700;
  color: $theme-blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#schoolinfo p.code {
  font-size: $table-text;
  font-weight: 500;
  color:  darken($body-text-color, 20%);
  margin-top: 0px;
  margin-bottom: 10px;
  font-style: italic;
}

#schoolinfo .widget {
  position: relative;
  overflow:hidden;
  margin:3px 0 0 0;
  &.padded-left{
    padding-left: 15px;
  }
  &.padded-left5{
    padding-left:5px;
  }
}
#schoolinfo .no-padding {
  padding-left: 0;
  padding-right: 0;
}

#schoolinfo .widget.first {
  position: relative;
  padding-left: 0;
  margin-left:0
}

#schoolinfo .widgettitle {
  width:100%;
  font-size: $smallest-text;
  font-weight: $label-weight;
  color: $theme-blue;
  text-transform: uppercase;
  margin-bottom: 3px;
  p{
  margin:0;
  }

}

#schoolinfo .widgetnumber {
  font-size: 2em;
  font-weight: $label-weight;
  color: $grey-dark;
  margin-top: -10px;
  margin-bottom: 0;
  margin-right: 10px;
  border:1px solid transparent;
  overflow: visible;
  padding-bottom: 0;

  &.percentNumber{
    font-size: 3em;
  }

}


#schoolinfo img.arrow {
    margin-top: -4px;
    width: 20px;
}

#schoolinfo img.teacher {
    margin-right: 20px;
    vertical-align: middle;
    margin-left: 5px;
    display: inline;
}

.img-dial{
    max-height: 70px;
    margin-top: 5px;
    max-width: 100%;
}

.padded-wrapper{
  padding-right: 15px;
  padding-left: 15px;
}

/* Distict info */
#districtinfo{
 padding-right:50px;
}

p.tableheaderdistrict {
    background-color: $theme-blue;
    width: 207px;
    height: 38px;
    border-radius: 3px;
    font-family: $global-font;
    color: $body-text-color-inverse;
    font-weight: $light-text-weight;
    font-size: $district-text;
    margin-right: 10px;
    margin-top: 10px;
    padding-left:15px;
    padding-top:2px;
}

table.districts {
    table-layout: fixed;
    font-family: $global-font;
    text-align: center;
    border-collapse: collapse;
}

table.districts td {
    height: 25px;
    white-space: nowrap;
}

table.districts td.rank {
    color: $body-text-color;
    font-weight: 600;
    font-size: $table-text;
    width: 20px;
    text-align: right;
}

table.districts td.name {
    color: $body-text-color;
    font-weight: 600;
    font-size: $table-text;
    width: 125px;
    text-align:left;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.districts td.passrategreen {
    color: $rank-good;
    font-weight: 400;
    font-size: $passrate-text;
    width: 40px;
}

table.districts td.passratered {
    color: $rank-poor;
    font-weight: $light-text-weight;
    font-size: $passrate-text;
    width: 40px;
}

table.districts p {
    text-transform: uppercase;
    font-size: $district-text;
    font-weight: $content-weight;
    color: $body-text-color;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

/* Pass rates widget */

#passOverTime .line {
  fill: none;
  stroke: $menu-tab-grey;
  stroke-width: 4px;
}

.x.axis path {
  display: none;
}

.dotlabel {
  stroke: white;
  font-size: $district-text;
}

.circle-poor {
  fill:  $rank-poor;
}

.circle-medium {
  fill: $rank-medium;
}

.circle-good {
  fill: $rank-good;
}
/* General content */
#generalcontent {
  @include content-border;
  margin: 0 auto;
  font-family:$global-font;
  color: $theme-blue;
  font-weight: $light-text-weight;
  font-size: $general-content-text;
  line-height: 24px;
  margin-top: 3px;
  min-height: 600px;
  background:$content-bg;
  h2{
    font-size:32px;
    margin-bottom:20px;
    font-weight:100;
  }
}

#generalcontent p {
    color: $body-text-color;
    font-weight: $content-weight;
    font-size: 17px;
    line-height: 21px;
    text-align: left;
}

#generalcontent a:hover,
#generalcontent a:hover a:visited,
#generalcontent a:hover a:link {
    color: $rank-good;
    text-decoration: none;
}
#generalcontent .boxlink-container{
    margin: 20px 0;
}
#generalcontent a.boxlink {
  @include border-radius(5px);
  background-color: $theme-blue;
  color: $content-bg;
  font-weight: $school-list-weight;
  font-size: $small-title;
  text-transform:uppercase;
  margin: 20px auto;
  display: block;
  max-width: 220px;
  padding:5px 10px;
  width:90%;
}
.full-screen-height {
  height: $xs;
}

#generalcontent a.boxlink:hover {
    background-color: $theme-blue;
}

.ui-select-bootstrap > .ui-select-match {
    overflow: hidden;
}

.google-form{
    height: 800px;
    width:60%;
}


.loading {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8) url(images/loading-icon.gif) 50% 50% no-repeat;

  &.ajax-failed {
    background-image: url(images/loading-failed.png);
  }
}

/*header*/
.navbar-brand{
  &.header-flag{
    float:left;
    margin-right:10px;
    padding-top:10px;
    padding-left:0;
  }
}

/*header - navigation*/
.navbar-collapse{
  float:right;
}

/*language nav*/
.navbar-lang {
  @include border-radius(5px);
  float: right;
  margin-left: 20px;
  background: $menu-tab-grey;
  margin-top: 10px;
  padding-top: 17px;
  padding-bottom: 13px;
}

.navbar-lang ul{
  height:20px;
  display:block;
}

.navbar-lang li{
  border-right:1px solid $theme-blue;
  display:inline;
}

.navbar-lang li:last-child{
  border-right:none;
}
.navbar-lang li a{
  @include transitionAll;
  color: $unknown;
  padding-top:0;
  padding-bottom:0;
  line-height:$panel-text;
  outline:none;
  cursor:pointer;
}
.navbar-lang li a:hover,
.navbar-lang li.active a{
  color: $theme-blue;
}
/*education nav*/
.navbar-education {
  float: left;
  margin-left: 20px;
  margin-top:15px;
  ul{
    display:block;
    li{
      width:50%;
      white-space:nowrap;
      a{
        @include border-radius-left(3px);
        @include transitionAll;
        background: $menu-tab-grey;
        color:$body-text-color;
        border-right: 1px solid $content-bg;
        font-size: $school-info-text;
        outline:none;
        cursor:pointer;
        padding: 10px 25px;
        text-align:center;
        width:100%;
      }
      &:hover a{
        background: $theme-blue;
        color:$content-bg;
      }
      &:last-child {
        a{
          border-right: none;
          @include border-radius-right(3px);
          @include border-radius-left(0);
        }
      }
      &.active a{
        background: $theme-blue;
        color:$content-bg;
      }
    }
  }
}




/*main nav*/

.nav li a:focus{
  outline:none;
}
ul.main-nav{
  margin-top:25px;
}
ul.main-nav li{
  border-right:1px solid $body-text-color;
  display:inline;
  height:15px;
}

ul.main-nav li:last-child{
  border-right:none;
}

ul.main-nav li a{
  line-height:$school-info-text;
  padding-top:0;
  color:$body-text-color;
}
ul.main-nav li a:hover,
ul.main-nav li a:focus{
  color: $theme-blue;
  background:none;
}
ul.main-nav li a.dropdown-toggle,
ul.main-nav li.dropdown a.dropdown-toggle{
  background-color: $content-bg;
}

ul.main-nav li.dropdown.open{
background-color:$content-bg;
}

ul.main-nav li ul{
  padding-top:10px;
  top:20px;
  left:0;
  border:none;
}

ul.main-nav li ul li{
 border-right:none;
}

ul.main-nav li ul li a{
  padding-top:10px;
  padding-bottom:10px;
}

.open > .dropdown-menu{
  @include border-radius(0);
  border:none;
  top:37px;
  width:465px;
  color: $content-bg;
  padding-left:20px;
  background: $theme-blue;

  ul{
    border-right:none;
    padding:0px;
    display:block;
  }
  li{
    float:left;
    padding:8px 20px;
    color: $content-bg;
    opacity: 1;
  &:hover{
    opacity: 0.7;
    cursor: pointer;
    }
  }
}

.school-dropdown{
  &.dropdown-menu{
    top:40px;
    left:-25px;
    background: $content-bg;
    width:392px;
    padding-top:0;
    li {
      padding:10px 5px;
      margin-left:-25px;
      width:110%;
      a{
        color:darken($body-text-color,45%);
        &:hover{
          color: $content-bg;
          background: $theme-blue;
        }
      }
    }
  }
}


.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus{
  background: $theme-blue;
  color:$content-bg;
  border:1px solid transparent;
}

/* header - announcement */
.header-announcements {
  clear: left;
  float: right;
  margin-right:30px;
  margin-top:10px;
}

// Map bottom bar
.bottom-white-bar {
  background: $map-overlay;
}
map-bottom-toggle {
  overflow: hidden;
  header {
    height: $bottom-bar-height;
    background: $map-overlay;
    box-shadow: $map-overlay-outline;
    text-align: center;
    h3 {
      margin: 0;
      font-size: 1em;
      line-height: $bottom-bar-height;
      font-weight: $school-list-weight;
      color: $theme-blue;
      cursor: pointer;
      outline:none;
      &:before,
      &:after {
        content: "▾";
        padding: 0 1em;
      }
    }
  }
  &.closed header h3:before,
  &.closed header h3:after {
    content: "▴";
  }
  .body {
    padding:0 20px 25px 20px;
    margin-top: 1px;
    background: $map-overlay;
    box-shadow: $map-overlay-outline;
  }
  &.closed .body {
    @include sr-only;
  }
}
map-bottom-toggle.legend {
  padding-bottom: 0;
  h4 {
    color: $grey-dark;
    max-width: $filter-content-width;
    font-size: 1em;
    padding: 16px 0 4px 0;
    margin:0;
    display: block;
    font-weight: $label-weight;
  }
  ol {
    max-width: $legend-content-width;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: -20px;
  }
  li {
    display: inline-block;
    font-weight: $school-list-weight;
    color: $body-text-color;
    margin-bottom: 0;
    &:before {
      content: "";
      display: inline-block;
      position: relative;
      height: 1.2em;
      width: 1.2em;
      border-radius: 100%;
      margin-left: 20px;
      margin-right:7px;
      vertical-align: middle;
      top: -2px;
    }
    &.unknown:before {
      border: 2px solid $unknown;
      background: $unknown;
    }
    &.poor:before {
      background: $rank-poor;
    }
    &.medium:before {
      background: $rank-medium;
    }
    &.good:before {
      background: $rank-good;
    }
    &.ptr-poor:before {
      border: 1px solid $unknown;
      height: 1.4em;
      width: 1.4em;
    }
    &.ptr-medium:before {
      border: 1px solid $unknown;
      height: 0.5em;
      width: 0.5em;
    }
    &.ptr-unknown:before {
      border: 2px solid $unknown;
      height: 0.6em;
      width: 0.6em;
    }
    &.ptr-good:before {
      border: 1px solid $unknown;
      height: 1.0em;
      width: 1.0em;
    }
    &.blue-line:before {
      border: 1px solid $theme-blue;
      background-color: $unknown;
    }
    &.blue-fill:before {
      border: 1px solid #fff;
      background-color: $theme-blue;
    }
  }
}
map-bottom-toggle.filters {
  padding-right: 1px;  // gap
  h4 {
    color: $grey-dark;
    max-width: $filter-content-width;
    font-size: 1em;
    padding: 16px 0 4px 0;
    margin:0;
    display: block;
    font-weight: $label-weight;
  }
}

// legend mode
.performance-select {
  padding-top:15px;
  a {
    display: inline-block;
    margin: 0;
    color: desaturate($theme-blue, 20%);
    cursor: pointer;
    &:before {
      content: "";
      display: inline-block;
      height: 0.9em;
      width: 0.9em;
      margin-right: 0.4em;
      border: 2px solid $theme-blue;
      border-radius: 0.5em;
    }
    &.active {
      font-weight: $school-list-weight;
      color: darken($theme-blue, 10%);
      &:before {
        background: $theme-blue;
      }
    }
    &.ng-click-active:before {
      background: lighten($theme-blue, 40%);
    }
  }
  &.subtitle {
    display: inline-block;
    font-weight:$label-weight;
    margin: 0;
    color: $grey-dark;
    cursor: pointer;
  }
}

/* Sidebar */
.sidebar {
  background: $content-bg;
  p {
    margin: 0;
    padding: 0;
  }
}
.sidebar .contained {  /* hack for search for now */
  margin: 0;
}
.text-red {
  color: $rank-poor;
}
.text-yellow {
  color: $rank-medium;
}
.text-green {
  color: $rank-good;
}

.big-character {
  position: absolute;
  font-size: $big-character;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 0px;
  white-space: nowrap;
  left: -10px;
}

.medium-character {
  // position: absolute;
  position: relative;
  font-size: $medium-text;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  white-space: nowrap;
  left: 0;

  &.missing-data {
    font-size: $panel-text;
    text-transform: capitalize;
    // margin-top:20px;
    text-align: left;
    margin-left: 15px;

  &.polygon {
    top: 6px;
    }
  }

  &.first{
    left: -20px;
  }

  .no-left-space {
    margin-left: 0;
    left: -10px;
  }

  &.polygon {
    position: relative;
  }

  &.polygon {
    position: relative;
    font-size: $panel-text;
    font-weight: $school-list-weight;
    text-transform: capitalize;
    }
}

.text-grey {
  color: $unknown;
}

.text-center{
  text-align:center;
}

.medium-small-character {
  position: absolute;
  font-size: 0.5em;
  font-weight: $school-list-weight;
  margin-bottom: 0px;
  margin-left: 5px;
  white-space: nowrap;
  top: 3px;
}

.chart-title {
  color: $theme-blue;
  fill: $theme-blue;
  text-transform:uppercase;
  font-weight:$label-weight;
  font-size:10px;
  text-align:center;
  position:absolute;
  top:0;
  font-family: $global-font;


&.rank-label{
  position: absolute;
  left:0;
  padding-bottom:10px;
  }
}
.gauge-title {
  white-space: nowrap;
  margin-top: 5px;

  .chart-title{
    margin-top: 6px;
  }

  &.swahili-title{
    margin-top:6px;

    .chart-title{
      left:18px;
      line-height: 100%;
    }
  }
  &.withoutchart {
    left: 20px;
    text-align:center;

    &.swahili-title{
      .chart-title{
        left:0;
        top:66px;
      }
    }
    .chart-title{
      left:-20px;
      top:72px;
    }
  }

  .chart-title{
    left:25px;
    top:12px;
    position:absolute;
    width:125px;
  }

  &.no-margin {
    margin-top: 0px;
    left: 0px;
  }
}

.passrate-change-title {
  position: absolute;
  white-space: nowrap;
  top: $nav-height+9;
  .chart-title{
    left:-6px;
    top:21px;
  }
}
.passrate-time-title {
  position: absolute;
  white-space: nowrap;
  margin-left: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-weight: $label-weight;
  &.swahili-title{
    .chart-title{
      left:0;
      width:$swahili-title-width;
      font-weight: $label-weight;
    }
  }
}

// passrate line chart for individual school selection
.passrate-individual{
  .passrate-time-title {
    margin-left: -10px;
  }
  .highcharts-container{
    svg{
      left: -35px;
    }
  }
}

.pass-rate-panel {
  height: 110px;
  margin-left: 5px;
}
.widget-full-width{
  width:100%;
}
.rank-value{
  padding-left: 0px;
}

#nationalRanking{
  margin-top:-9px;
}

// homepage
.page-title{
  color: $grey-light;
  font-size:$page-title;
  line-height:$page-title + 4;
  font-weight: $content-weight;
  padding-top: 50px;
}

// selectable div to replace checkbox in year selection
.selectable {
  @include border-radius(50%);
  border:2px solid $content-bg;
  display:block;
  float:left;
  width:15px;
  height:15px;
  margin: 2px 5px 0 0;
  &.selected {
    background:$theme-blue-lightest;
  }
}

// footer
.footer{
  background:$theme-blue;
  position: fixed;
  width: 100%;
  bottom:0;
  height: $footer-height;
  a{
    color:$theme-blue-light;
    &:hover{
      color: $content-bg;
    }
  }
  p{
    color:$content-bg;
    margin-top:13px;
    font-size:$smallest-text + 0.5;
    line-height:$smallest-text + 1;
    text-align: right;
    width: 75%;
  }
  .navbar-brand{
    height: $footer-height+10;
    margin-top:-4px;
  }

  .navbar-collapse{
    @include border-radius(0);
    padding-top: 2px;
    li{
      height:15px;
      &:first-child{
        border-left:none;
      }
      a{color: $content-bg;
        &:hover {
          color: $grey-dark;
          background:none;
        }
      }
    }
  }
}

// vertical padding that can be applied to any container
.vert-padding {
  @include buffer-top-bottom(30px);
}
.full-size-scroll {
  height: 450px;
  overflow-y: auto;
}

// gauge chart title in kiswahili
.swahili-title {
  width:$swahili-title-width;
  text-align:center;
  position:absolute;

  .chart-title{
    white-space:normal;
    line-height:12px;
    width:$swahili-title-width;
  }
  &.passrate-change-title{
    .chart-title{
      top:27px;
      white-space:normal;
      font-size: 11px;
      font-weight: bolder;
    }
  }
}
.gauge-title.withoutchart{
  top:-22px;
}
.gauge-title.withoutchart.swahili-title {
  left:15px;
  padding:0;
  margin-left:-8px;
}
.poligonimage {
  margin-top: -10px;
  height: 45px;
  display: block;
}

.ui-select-match-text{
  outline:none;
}

span.ui-select-placeholder.text-muted.ng-binding.ng-hide{
  outline:none;
}

.rank-widgetnumber {
  font-size: 2.3em;
  font-weight: $label-heavy-weight;
  font-family: $global-font;
  color: $grey-dark;
  margin-top:-5px;
  display:block;
  float: left;
  text-align: left;
  margin-left:0;
  position: relative;
}
.missing-data-wrapper {
  // height: 30px;
  // position: relative;
  overflow: hidden;

  .missing-data {
    left: 0;
    // position:absolute;
    // top:-2px;
    margin-left:15px;
    position: relative;
  }
}
.padded-top{
  padding-top:25px;
}
.top-school-badge{
  clear:both;
  width:100%;
  img {
    display: block;
    float: left;
    margin: 5px 10px 5px 0;
  }
}
gauge-chart.middle-chart{
  position:absolute;
  left:3px;
  // .missing-data{
    // position:absolute;
    // top:32px;
    // left:0;
    // background: #000;
  // }
}

.polygon-stats {
  margin-bottom:4px;
  display:block;
  .poligonimage {
    float: left;
    margin-right:5px;
    margin-top:6px;
    height:25px;
  }
}

// filter area

.ngrs-range-slider{
  .ngrs-handle{
    border-radius: 50%;
    background: $theme-blue;
    border: 1px solid $theme-blue-lightest;
  }
  .ngrs-join{
    background-color: $grey-lightest;
    background-image: none;
  }
  .ngrs-runner{
    margin: 0 7px;
  }
}

.ngrs-range-slider{
  border: 1px solid $content-bg;
  box-shadow: none;
  padding:0;
  margin: 0;

  .ngrs-attached-handles .ngrs-value > div{
    margin-top: -5px;
  }
}

// leaflet label
.leaflet-control-attribution{
  &.leaflet-control{
    margin-top:-23px;
    a{
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
}

.highcharts-highcharts-national-rank{
  width: 100%;
  height: 25px;
  // margin-left: -10px;
  // position: relative;
  padding:0;
  // overflow: hidden;
  // width: 100px;
  margin-left:0;
  .rank-widgetnumber{
    display:block;
    position:absolute;
    text-align: left;
    left: -3px;
    top: 7px;
  }
}

.highcharts-container svg{
  position:absolute;
  top:0;
  left: -5px;
}

.bordered-col{
  border-left: 3px solid $grey-light;
  padding-left:5px;
  margin-bottom: 5px;
}
.non-bordered-col{
  padding-left: 0;
}
.bottom-space-5{
  margin-bottom: 5px;
}

.highcharts-national-rank{
  background: #666;
}

.map-details-container{
  padding: 0;
}
.dropdown-menu {
  &.share-dropdown{
    width: 340px;
    .share-icon{
      width: 20px;
    }
  }
}

// feedback form
.feedback-form-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 110%;
  padding-top:0;
  position: relative;

  .feedback-form {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 99%;
  }
}

.splash-image {
  margin-left:  -15px;
}

.link-national {
  color: $theme-blue;
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
