@import "variables";
@import "mixins";

@import "layout";
@import "flyout";
@import "pupilsprite";
@import "schoollist";

/* Space out content a bit */
body {
  display: block;
  font-family: 'Open Sans', sans-serif;
  background:$theme-blue;
}

.no-padding{
  padding:0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

#main-nav.navbar-default {
    background-color: $theme-blue;
    border: none;
    border-radius: 0;
}
.page-header{
    margin: 10px 0 15px;
    font-weight: 800;
    color: #777;
    font-size: 15px;
    padding-bottom: 15px
}
.navbar-default .navbar-nav > li > a{
    color: #F0F0F0;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: $theme-blue;
    outline:none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $theme-blue;
}

.navbar-toggle{
  background: $theme-blue;
  position:absolute;
  top:10px;
  right:0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: $theme-blue;
}

.navbar-toggle .icon-bar{
  background:#fff;
}



/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#main-header {
  display: block;
  position: relative;
  top: 0px;
  width: 100%;
  height: 70px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

.map-container{
    padding-right: 0;
    padding-left: 0;
    overflow: visible;
    background:#f6f6f6;
    @include content-border;
}
.navbar{
    margin-bottom: 0;
}


  .splash-image{
    margin-top:30px;
  }
  .page-title{
    padding-top:0;
    margin-top:-20px;
    font-size:25px;
    line-height:27px;
  }

.preload {
    display:none;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #1595d3;
    text-transform:uppercase;
    display:inline-block;
    margin-top:16px;
    font-size:18px;
    font-weight:700;
    width:120px;
    float:left;
}

/*The content below this is all related to the tables*/
#schooltablescontainer {
    margin: 20px auto;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 246px;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.position {
  position: relative;
  display: block;
}

table.schools {
    table-layout: fixed;
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}

table.schools a:link, a:visited, a:hover {
    text-decoration: none;
}

table.schools tr:hover {
    background-color: #b9e5f5;
}

table.schools td {
    border-bottom: 1px dotted #e3e3e3;
    height: 35px;
    white-space: nowrap;
}

table.schools td.rank {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 14px;
    width: 20px;
    text-align: right;
}

table.schools td.name {
    color: #6b6b6b;
    font-weight: 400;
    font-size: 14px;
    text-align:left;
    padding:8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.schools td.passrategreen {
    color: $rank-good;
    font-weight: 400;
    font-size: 16px;
    width: 55px;
}

table.schools td.passrateyellow {
  color: $rank-medium;
  font-weight: 400;
  font-size: 16px;
  width: 55px;
}

table.schools td.passratered {
    color: $rank-poor;
    font-weight: 400;
    font-size: 16px;
    width: 55px;
}

table.schools td.passrateunknow {
  color: #aaa;
  font-weight: 400;
  font-size: 16px;
  width: 55px;
}

table.schools p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: $body-text-color;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

p.tableheader {
    height: 32px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin:60px auto 20px auto;
    &.best-performing{
      background:$best-perform;
    }
    &.poor-perform{
      background:$poor-perform;
    }
}


img.face {
  margin-top: 6px;
  margin-right: 5px;
  margin-left:-6px;
  display: inline-block;
  vertical-align: text-bottom;
}

/* ----------------- */
.perfomance-gauges{
  padding-bottom: 0;
}
.perfomance-gauges .col-sm-4{
  padding: 0;
}
.dial-title{
  color: $theme-blue;
  font-weight: bold;
  font-size:12px;
  margin-bottom: 2px
}
.list-horizontal li{
  display: inline-block;
}
div.cartodb-share a{
  width: 30px;
  height: 30px;
}
.nav-tabs{
  display:table;
  width:100%;
}
.nav-tabs > li {
  float: none;
  display: table-cell;
}
/* sidebar toggle buttons should be 1/2 width */
.sidebar-toggle-pair .nav-tabs {
  display: block;
  & > li {
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 1px;
  }
}

#nav-tabs-dashboard.nav-tabs > li.small-nav-tabs {
  width: 10%;
}

#nav-tabs-dashboard.nav-tabs > li:last-child a{
  border-right: none;
  background:$body-text-color;
  color:#ffffff;
}
.nav-tabs > li > a {
  box-sizing: border-box;
  height: $nav-height - $content-border-height;
  background: #f6f6f6;
  margin-right: 0px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-radius: 0;
  cursor: pointer;
  outline:none;
  color:#aaaaaa;
  margin-left:-1px;
  font-size:13px;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  width: 1%;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  background:#1aa4db;
  color:#ffffff;
  border:1px solid #1aa4db;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}

.link {
  color: $theme-blue;
  cursor: pointer;
}

.white {
  color: #d8fffd;
}
.show-sm{
    display: none;
}
.btn-default{
  border-color: #ffffff;
}
.search-schools,
.search-schools input{
    /* min-width: 300px; */
  border: 1px solid #ffffff;
  outline:none;
  border-color: #ffffff;
}
.search-schools{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  .form-control{
    box-shadow: none;
    text-transform:uppercase;
    color:#d4d4d4;
    font-weight:bold;
    &:hover{
      background: #ffffff;
      border: 1px solid #ffffff;
    }
    &:focus{
      outline:none;
      border: 1px solid #ffffff;
    }
  .text-muted{
    color: #d4d4d4;
    }
  }
}
.text-school-list {
  text-transform: capitalize;
}
.ui-select-toggle{
  outline:none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui-select-bootstrap > .ui-select-choices{
  margin-top:0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.container-fluid.map-nav{
    padding-left: 0;
}
.container-fluid.margin-top {
  margin-top: 15px;
}
.select2-highlighted .text-muted{
    color: #EEEEF5
}
.ui-select-choices-row.active > a > .text-muted{
  color:#eeeeee;
}
.ui-select-bootstrap .ui-select-choices-row.active>a{
  background:$theme-blue;
}

.ui-select-choices-group{
  width:85%;
  padding:0;
  margin:0;
}

.ui-select-choices-row-inner{
  width:100%;
}

.form-horizontal{
  margin-bottom:20px;
  margin-top:20px;
}
/* School info */
#schoolinfo-placeholder{
    padding: 23px 0 0 0;
    color: #ccc;
    font-size: 16px;
    float: left;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
#schoolinfo {
    margin: 0 auto;
    /* -webkit-filter: drop-shadow(0px 1px 5px #cdcdcd);
    filter: drop-shadow(0px 1px 5px #cdcdcd); */
    position: relative;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

#schoolinfo p.schoolname {
  font-size: 16px;
  font-weight: 700;
  color: $theme-blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

#schoolinfo p.code {
  font-size: 13px;
  font-weight: 500;
  color:  darken($body-text-color, 20%);
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}

#schoolinfo .widget {
  position: relative;
  padding-left: 0;
  margin-bottom:10px;
  overflow:hidden;
}
#schoolinfo .no-padding {
  padding-left: 0;
  padding-right: 0;
}

#schoolinfo .widget.first {
  position: relative;
  padding-left: 0;
  margin-left:0
}

#schoolinfo .widgettitle {
  width:100%;
  font-size: 10px;
  font-weight: bold;
  color: $theme-blue;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 9px;
  margin-top:10px;
  p{
  margin:0
  }
}

#schoolinfo .widgetnumber {
  font-size: 2em;
  font-weight: bold;
  color: #3a3a3a;
  margin-top: -5px;
  margin-bottom: 2px;
  margin-right: 10px;
}

#schoolinfo img.arrow {
    margin-right: 0px;
}

#schoolinfo img.teacher {
    margin-right: 20px;
    vertical-align: middle;
    margin-left: 5px;
    display: inline;
}

.img-dial{
    max-height: 70px;
    margin-top: 5px;
    max-width: 100%;
}

/* Distict info */
#districtinfo{
 padding-right:50px;
}

p.tableheaderdistrict {
    background-color: $theme-blue;
    width: 207px;
    height: 38px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left:15px;
    padding-top:2px;
}

table.districts {
    table-layout: fixed;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-collapse: collapse;
}

table.districts td {
    /*border-bottom: 1px dotted #e3e3e3;*/
    height: 25px;
    white-space: nowrap;
}

table.districts td.rank {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 13px;
    width: 20px;
    text-align: right;
}

table.districts td.name {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 13px;
    width: 125px;
    text-align:left;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.districts td.passrategreen {
    color: $rank-good;
    font-weight: 400;
    font-size: 18px;
    width: 40px;
}

table.districts td.passratered {
    color: $rank-poor;
    font-weight: 400;
    font-size: 18px;
    width: 40px;
}

table.districts p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: $body-text-color;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}


/* Pass rates widget */

#passOverTime .line {
  fill: none;
  stroke: #E6E9EA;
  stroke-width: 4px;
}

.x.axis path {
  display: none;
}

.dotlabel {
  stroke: white;
  font-size: 11px;
}

.circle-poor {
  fill:  $rank-poor;
}

.circle-medium {
  fill: $rank-medium;
}

.circle-good {
  fill: $rank-good;
}
/* General content */
#generalcontent {
  @include content-border;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: $theme-blue;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
  min-height: 600px;
  background:$content-bg;
}

#generalcontent p {

}

#generalcontent p.text {
    color: $body-text-color;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

#generalcontent a:hover,
#generalcontent a:hover a:visited,
#generalcontent a:hover a:link {
    color: $rank-good;
    text-decoration: none;
}
#generalcontent .boxlink-container{
    margin: 20px 0;
}
#generalcontent a.boxlink {
  @include border-radius(5px);
  background-color: $theme-blue;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 12px;
  text-transform:uppercase;
  margin: 20px auto;
  display: block;
  max-width: 220px;
  padding:5px 10px;
  width:90%;
}
.full-screen-height {
  height: $xs;
}

#generalcontent a.boxlink:hover {
    background-color: #2ab4e7;
}

// homepage-specific container
.homepage-content {
  padding-bottom: 100px;
}

.ui-select-bootstrap > .ui-select-match {
    overflow: hidden;
}

.google-form{
    height: 800px;
    width:60%;
}


.loading {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(127, 127, 127, 0.8) url(images/loading-icon.gif) 50% 50% no-repeat;

  &.ajax-failed {
    background-image: url(images/loading-failed.png);
  }
}

/*header*/
.navbar-brand{
  &.header-flag{
    float:left;
    margin-right:10px;
    padding-top:10px;
    padding-left:0;
  }
}

/*header - navigation*/
.navbar-collapse{
  float:right;
}

/*language nav*/
.navbar-lang {
  @include border-radius(5px);
  float: right;
  margin-left: 20px;
  background: #f0f0f0;
  margin-top: 10px;
  padding-top: 17px;
  padding-bottom: 13px;
}

.navbar-lang ul{
  height:20px;
  display:block;
}

.navbar-lang li{
  border-right:1px solid #1595d3;
  display:inline;
}

.navbar-lang li:last-child{
  border-right:none;
}
.navbar-lang li a{
  color: #aaaaaa;
  padding-top:0;
  padding-bottom:0;
  line-height:14px;
  outline:none;
  -webkit-transition: color 300ms ease-in;
  -moz-transition: color 300ms ease-in;
  -o-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
  cursor:pointer;
}
.navbar-lang li a:hover,
.navbar-lang li.active a{
  color: #1595d3;
}
/*education nav*/
.navbar-education {
  float: left;
  margin-left: 20px;
  margin-top:15px;
  ul{
    display:block;
    li{
      a{
        @include border-radius-left(3px);
        @include transitionAll;
        background: $menu-tab-grey;
        color:$body-text-color;
        border-right: 1px solid #eeeeee;
        font-size:16px;
        outline:none;
        cursor:pointer;
        padding: 10px 25px;
        text-align:center;
        width:100%;
      }
      &:hover a{
        background: $theme-blue;
        color:$content-bg;
      }
      &:last-child {
        a{
          border-right: none;
          @include border-radius-right(3px);
          @include border-radius-left(0);
        }
      }
      &.active a{
        background: $theme-blue;
        color:$content-bg;
      }
    }
  }
}




/*main nav*/

.nav li a:focus{
  outline:none;
}
ul.main-nav{
  margin-top:25px;
}
ul.main-nav li{
  border-right:1px solid #5b5b5b;
  display:inline;
  height:15px;
}

ul.main-nav li:last-child{
  border-right:none;
}

ul.main-nav li a{
  line-height:16px;
  padding-top:0;
  color:#5b5b5b;
}
ul.main-nav li a:hover,
ul.main-nav li a:focus{
  color: #1595d3;
  background:none;
}
ul.main-nav li a.dropdown-toggle,
ul.main-nav li.dropdown a.dropdown-toggle{
  background-color: #ffffff;
}

ul.main-nav li.dropdown.open{
background-color:#ffffff;
}

ul.main-nav li ul{
  padding-top:10px;
  top:20px;
  left:0;
  border:none;
}

ul.main-nav li ul li{
 border-right:none;
}

ul.main-nav li ul li a{
  padding-top:10px;
  padding-bottom:10px;
}

.open > .dropdown-menu{
  @include border-radius(0);
  border:none;
  top:43px;
  width:465px;
  color: #ffffff;
  padding-left:20px;
  background: $theme-blue;
  ul{
    border-right:none;
    padding:0px;
    display:block;
  }
  li{
    float:left;
    padding:8px 20px;
    color: $content-bg;
  &:hover{
    font-weight:bold;
    cursor: pointer;
    }
  }
}

.school-dropdown{
  &.dropdown-menu{
    top:40px;
    background: $content-bg;
    li {
      padding:10px 5px;
      margin-left:-25px;
      a{
        color:darken($body-text-color,45%);
        padding:5px 15px;
        &:hover{
          color: #ffffff;
          background: $theme-blue;
        }
      }
    }
  }
}


.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus{
  background: $theme-blue;
  color:#ffffff;
  border:1px solid $theme-blue;
}

/* header - announcement */
.header-announcements {
  clear: left;
  float: right;
  margin-right:30px;
  margin-top:10px;
}

// Map bottom bar
.bottom-white-bar {
  background: $map-overlay;
}
map-bottom-toggle {
  header {
    height: $bottom-bar-height;
    background: $map-overlay;
    box-shadow: $map-overlay-outline;
    text-align: center;
    h3 {
      margin: 0;
      font-size: 1em;
      line-height: $bottom-bar-height;
      font-weight: bold;
      color: $theme-blue;
      cursor: pointer;
      &:before,
      &:after {
        content: "▾";
        padding: 0 1em;
      }
    }
  }
  &.closed header h3:before,
  &.closed header h3:after {
    content: "▴";
  }
  .body {
    padding: 5px 1em;
    margin-top: 1px;
    background: $map-overlay;
    box-shadow: $map-overlay-outline;
  }
  &.closed .body {
    @include sr-only;
  }
}
map-bottom-toggle.legend {
  h4 {
    max-width: $legend-content-width;
    margin: 15px auto 10px;
    font-size: 1em;
  }
  ol {
    max-width: $legend-content-width;
    margin: 10px auto 20px;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 0.4em;
    font-weight: bold;
    color: #777;
    &:before {
      content: "";
      display: inline-block;
      position: relative;
      height: 1.2em;
      width: 1.2em;
      border-radius: 100%;
      margin-right: 0.333em;
      vertical-align: middle;
      top: -2px;
    }
    &.unknown:before {
      border: 2px solid $unknown;
    }
    &.poor:before {
      background: $rank-poor;
    }
    &.medium:before {
      background: $rank-medium;
    }
    &.good:before {
      background: $rank-good;
    }
  }
}
map-bottom-toggle.filters {
  padding-left: 1px;  // gap
  h4 {
    max-width: $filter-content-width;
    font-size: 1em;
  }
}

// legend mode
.performance-select {
  margin: 1em 0;
  text-align: center;
  a {
    display: inline-block;
    margin: 0 1em;
    color: desaturate($theme-blue, 20%);
    cursor: pointer;
    &:before {
      content: "";
      display: inline-block;
      height: 0.9em;
      width: 0.9em;
      margin-right: 0.4em;
      border: 2px solid $theme-blue;
      border-radius: 0.5em;
    }
    &.active {
      font-weight: bold;
      color: darken($theme-blue, 10%);
      &:before {
        background: $theme-blue;
      }
    }
    &.ng-click-active:before {
      background: lighten($theme-blue, 40%);
    }
  }
}

/* Sidebar */
.sidebar {
  padding-top: 10px;
  background: #fff;
}
.sidebar .contained {  /* hack for search for now */
  margin: 0;
}


.text-red {
  color: $rank-poor;
}
.text-yellow {
  color: $rank-medium;
}
.text-green {
  color: $rank-good;
}

.big-character {
  position: absolute;
  font-size: 36px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 0px;
  white-space: nowrap;
  left: -10px;
}
.medium-character {
  position: absolute;
  font-size: 25px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  white-space: nowrap;
  left: 0;
}&.missing-data {
   font-size: 14px;
   font-weight: 800;
   text-transform: capitalize;
 }
.text-grey {
  color: $unknown;
}
.medium-small-character {
  position: absolute;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  white-space: nowrap;
  top: 0px;
}

.chart-title {
  color: $theme-blue;
  font-size: 10px;
  margin-bottom: 2;
  fill: #05a2dc;
  width: 100%;
  text-transform:uppercase;
&.rank-label{
  position: absolute;
  left:0;
  padding-bottom:10px;
  }
&.gauge {
  font-size: 10px;
  font-weight: bold;
  }
}
.gauge-title {
  position: absolute;
  white-space: nowrap;
  margin-left: 0px;
  margin-top: 4px;
  left: 3px;
  top: 0px;
&.withoutchart {
  margin-top: 5px;
  left: -5px;
  top: 64px;
  }
&.no-margin {
  margin-top: 0px;
  left: 0px;
}
}
.widget-full-width{
  width:100%;
}
.rank-value{
  padding-left: 0px;
}

#nationalRanking{
  margin-top:-9px;
}

// homepage
.page-title{
  color: $grey-light;
  font-size:30px;
  line-height:34px;
  font-weight:300;
  padding-top: 50px;
}

// selectable div to replace checkbox in year selection
.selectable {
  @include border-radius(50%);
  border:2px solid #ffffff;
  display:block;
  float:left;
  width:15px;
  height:15px;
  margin: 2px 5px 0 0;
  &.selected {
    background:#c0edff;
  }
}

// footer
.footer{
  background:$theme-blue;
  position: fixed;
  width: 100%;
  bottom:0;
  height: $footer-height;
  p{
    color:#ffffff;
    margin-top:15px;
    font-size:12px;
    line-height:14px;
  }
  .navbar-brand{
    height: $footer-height;
  }

  .navbar-collapse{
    @include border-radius(0);
    padding-top:$header-height/5;
    li{
      height:15px;
      &:first-child{
        border-left:none;
      }
      a{color: #ffffff;}
    }
  }
}



// vertical padding that can be applied to any container
.vert-padding{
    @include buffer-top-bottom(30px);
}
.full-size-scroll {
  height: 450px;
  overflow-y: auto;
}

// gauge chart title in kiswahili
.swahili-title{
  line-height:12px;
  width:120px;
  text-align:center;
  padding:0;
  .chart-title{
    white-space:normal;
    line-height:12px;
  }
}
.gauge-title.withoutchart.swahili-title{
  left:10px;
  padding:0;
}
