/* Space out content a bit */
body {
  height: 100%;
  width: 100%;
  display: block;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

#main-nav.navbar-default {
    background-color: #05a2dc;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a{
    color: #F0F0F0;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #05a2dc;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #F3F3F4;
    }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 75%;
    }
    .dashboard-container{
        padding-top: 30px;
        padding-bottom: 20px
    }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#main-header{
    display: block;
    position: relative;
    top: 0px;
    width: 100%;
    height: 90px;
    background-image: url('../images/tzflagbanner.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 30px;
    line-height: 90px;
}

.map-widget{
    width: 100%;
    height: 480px;
    display: block;
}
.row.map-widget-row{
    height: 100%;
    display: block;
}
.map-container,
.map-details{
    display: block;
    height: 100%;
}
.map-container{
    padding-right: 0;
    padding-left: 0;
}
.navbar{
    margin-bottom: 0;
}
#map{
    height: 100%;
    display: block;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    #main-nav-items{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}
.preload {
    display:none;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/*The content below this is all related to the tables*/

#schooltablescontainer {
    width: 940px;
    margin: 0 auto;
    margin-top: 30px;
}

.scroll {
overflow-y: scroll;
overflow-x: hidden;
    height: 550px;
    width: 460px;
    float:left;
    border: 1px solid #e3e3e3;
    margin-left: 5px;
    margin-bottom: 20px;
}

table.schools {
    table-layout: fixed;
    width: 450px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-collapse: collapse;
}

table.schools a:link, a:visited, a:hover, a:visited {
    color:inherit;
    text-decoration: none;
}

table.schools tr:hover {
    background-color: #b9e5f5;
}

table.schools td {
    height: 55px;
    white-space: nowrap;
}

table.schools td.rank {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 24px;
    width: 25px;
    text-align: right;
}

table.schools td.name {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 16px;
    width: 240px;
    text-align:left;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.schools td.passrategreen {
    color: #38a21c;
    font-weight: 400;
    font-size: 24px;
    width: 55px;
}

table.schools td.passratered {
    color: #f56053;
    font-weight: 400;
    font-size: 24px;
    width: 55px;
}

table.schools p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: #717171;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

p.tableheader {
    background-color: #05a2dc;
    width: 224px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    float:left;
    margin-left: 120px;
    margin-right: 120px;
}

img.face {
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-bottom;
}
