/* Space out content a bit */
body {
  height: 100%;
  width: 100%;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.footer{
    background-color: #05a2dc;
    min-height: 100px;
}

#main-nav.navbar-default {
    background-color: #05a2dc;
    border: none;
    border-radius: 0;
}
.page-header{
    margin: 5px 0 15px;
    font-weight: 800;
    color: #777;
    font-size: 15px;
    padding-bottom: 15px
}
.navbar-default .navbar-nav > li > a{
    color: #F0F0F0;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #05a2dc;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #0592cc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0592cc;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0572ac;
}

.navbar-default .navbar-toggle {
    border-color: #0592cc;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #F3F3F4;
    }
}

@media (max-width: 1024px){
    .nav > li > a {
        padding: 10px 8px;
    }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 75%;
    }
    .dashboard-container{
        padding-top: 30px;
        padding-bottom: 20px
    }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#main-header{
    display: block;
    position: relative;
    top: 0px;
    width: 100%;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
}

.map-container{
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}
.navbar{
    margin-bottom: 0;
}
.map-control-container{
    position: absolute;
    left: 7px;
    bottom: 7px;
}
.map-control{
    background: #FFF;
    border-radius: 2px;
    border: 1px solid #C0C0C0;
    max-width: 250px;
    min-width: 120px;
    display: block;
    -webkit-filter: drop-shadow(0px 1px 5px #cdcdcd);
    filter: drop-shadow(0px 1px 5px #cdcdcd);
    margin: 10px
}
.map-control-header{
    padding: 7px;
    color: #05a2dc;
    margin-top: 0px;
    margin-bottom: 5px;
}
/* Map hover */
.map-container div.cartodb-tooltip {
    position: absolute;
    display: none;
    min-width: 120px;
    max-width: 250px;
    overflow-y: hidden;
    left: 20px !important;
    top: 100px !important;
    z-index: 5;
}
.map-container div.cartodb-tooltip h4{
    color: #828282;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 600;
    font-size: 11px;
}

.map-container div.cartodb-tooltip p{
    color: #05a2dc;
    font-weight: 300;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 8px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
@media screen and (min-width: 768px) {
    .map-control-container {
        bottom: 230px;
    }
}

.preload {
    display:none;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #1595d3;
    text-transform: uppercase;
    dislay:inline-block;
    margin-top:16px;
    font-size:18px;
    font-weight: 700;
    width:10%;
    float:left;
}

/*The content below this is all related to the tables*/
#schooltablescontainer {
    margin: 20px auto;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 260px;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

table.schools {
    table-layout: fixed;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-collapse: collapse;
}

table.schools a:link, a:visited, a:hover {
    color:inherit;
    text-decoration: none;
}

table.schools tr:hover {
    background-color: #b9e5f5;
}

table.schools td {
    border-bottom: 1px dotted #e3e3e3;
    height: 35px;
    white-space: nowrap;
}

table.schools td.rank {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 14px;
    width: 20px;
    text-align: right;
}

table.schools td.name {
    color: #6b6b6b;
    font-weight: 400;
    font-size: 14px;
    text-align:left;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.schools td.passrategreen {
    color: #38a21c;
    font-weight: 400;
    font-size: 16px;
    width: 55px;
}

table.schools td.passratered {
    color: #f56053;
    font-weight: 400;
    font-size: 16px;
    width: 55px;
}

table.schools p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: #717171;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

p.tableheader {
    background-color: #05a2dc;
    max-width: 224px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

img.face {
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-bottom;
}

/* ----------------- */
.perfomance-gauges{
    padding-bottom: 30px
}
.perfomance-gauges .col-sm-4{
    padding: 0;
}
.dial-title{
    color: #05a2dc;
    font-weight: bold;
    font-size:12px;
    margin-bottom: 2px
}
.list-horizontal li{
    display: inline-block;
}
.footer a{
    color: #F5F5F5;
}
.footer .list-horizontal li{
    color: #F5F5F5;
    padding: 20px 30px;
}
div.cartodb-share a{
    width: 30px;
    height: 30px;
}
.nav-tabs > li > a{
    background: #EEEEEE;
    margin-right: 0px;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    cursor: pointer;
}
.show-sm{
    display: none;
}
@media screen and (max-width: 850px){
    .hide-sm{
        display: none;
    }
    .show-sm{
        display: block;
    }
}

@media screen and (max-width : 480px) {
    .nav-tabs > li > a{
        font-size: 10px;
    }
}

.search-schools,
.search-schools input{
    /* min-width: 300px; */
}
.container-fluid.map-nav{
    padding-left: 0;
}
.select2-highlighted .text-muted{
    color: #EEEEF5
}
/* School info */
#schoolinfo-plaholder{
    display: block;
    padding: 100px 40px;
    color: #CCC;
    font-size: 18px;
}
#schoolinfo {
    margin: 0 auto;
    /* -webkit-filter: drop-shadow(0px 1px 5px #cdcdcd);
    filter: drop-shadow(0px 1px 5px #cdcdcd); */
    position: relative;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
#schoolinfo .top-school-badge{
    position: absolute;
    right: 0px;
    margin-right: -16px;
    top: 24px;
}

@media screen and (max-width: 850px){
    #schoolinfo .top-school-badge{
        top: 30px;
    }
    #schoolinfo .top-school-badge img{
        width: 60%;
    }
}

#schoolinfo p.schoolname {
    font-size: 16px;
    font-weight: 700;
    color: #3a3a3a;
    margin-top: 0px;
    margin-bottom: 0px;
}

#schoolinfo p.code {
    font-size: 12px;
    font-weight: 500;
    color: #8b8b8b;
    margin-top: 0px;
    margin-bottom: 0px;
}

#schoolinfo .widget {
    position: relative;
    border-left: 3px solid #e1e1e1;
    padding-left: 10px;
    margin-top: 30px;
}

#schoolinfo .widget.first {
    position: relative;
    margin-top: 20px;
    border-left: 3px solid #e1e1e1;
    padding-left: 10px;
}

#schoolinfo .widgettitle {
    font-size: 11px;
    font-weight: 800;
    color: #828282;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

#schoolinfo .widgetnumber {
    font-size: 30px;
    font-weight: 800;
    color: #3a3a3a;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-right: 10px;
}

@media screen and (max-width: 850px){
    #schoolinfo .widgetnumber {
        font-size: 18px;
        font-weight: 800;
    }
}

#schoolinfo img.arrow {
    margin-right: 5px;
}

#schoolinfo img.teacher {
    margin-right: 20px;
    vertical-align: middle;
    margin-left: 5px;
    display: inline;
}

.img-dial{
    max-height: 70px;
    margin-top: 5px;
    max-width: 100%;
}

/* Distict info */

p.tableheaderdistrict {
    background-color: #05a2dc;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

table.districts {
    table-layout: fixed;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-collapse: collapse;
}

table.districts td {
    /*border-bottom: 1px dotted #e3e3e3;*/
    height: 35px;
    white-space: nowrap;
}

table.districts td.rank {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 14px;
    width: 20px;
    text-align: right;
}

table.districts td.name {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 16px;
    width: 125px;
    text-align:left;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

table.districts td.passrategreen {
    color: #38a21c;
    font-weight: 400;
    font-size: 18px;
    width: 40px;
}

table.districts td.passratered {
    color: #f56053;
    font-weight: 400;
    font-size: 18px;
    width: 40px;
}

table.districts p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: #717171;
    line-height: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

/* Legends */
#legend {
    color: #828282;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

#legend.schools {
    background-color: white;
}

#legend p.title {
    color: #05a2dc;
    margin-top: 0px;
    margin-bottom: 5px;
}


#legend a:link {
    color: #05a2dc;
}

#legend a:link,
#legend a:visited,
#legend a:hover {
    color: #05a2dc;
    text-decoration: none;
}

#legend.districts {
    background-color: white;
    position: absolute;
    bottom: 7px;
    left: 7px;
    -webkit-filter: drop-shadow(0px 1px 5px #cdcdcd);
    filter: drop-shadow(0px 1px 5px #cdcdcd);
}

/* Pass rates widget */

#passOverTime .line {
  fill: none;
  stroke: #E6E9EA;
  stroke-width: 4px;
}

.x.axis path {
  display: none;
}

.dotlabel {
  stroke: white;
  font-size: 11px;
}

.circle-poor {
  fill:  #f56053;
}

.circle-medium {
  fill: #e9c941;
}

.circle-good {
  fill: #38a21c;
}
/* General content */
#generalcontent {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #05a2dc;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
    min-height: 600px;
}
@media screen and (min-width: 850px){
    #generalcontent {
        width: 800px;
    }
}
#generalcontent p {

}

#generalcontent p.text {
    color: #717171;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

#generalcontent a:hover,
#generalcontent a:hover a:visited,
#generalcontent a:hover a:link {
    color: #05a2dc;
    font-weight: 400;
    text-decoration: none;
}
#generalcontent .boxlink-container{
    margin: 20px 0;
}
#generalcontent a.boxlink {
    background-color: #05a2dc;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 200px;
}


@media screen and (max-width: 768px){
    #generalcontent a.boxlink {
        font-size: 13px;
    }
}

#generalcontent a.boxlink:hover {
    background-color: #2ab4e7;
}

.ui-select-bootstrap > .ui-select-match {
    overflow: hidden;
}

.google-form{
    height: 800px;
    width: 760px
}
@media screen and (max-width: 768px){
    .google-form{
        width: 100%;
    }
}

.mypassrategreen {
    position: absolute;
    width: 20px;
    height: 40px;
    background-image: url(../images/passrate_student_green.png);
    background-repeat: no-repeat;
}
.mypassrategrey {
    position: absolute;
    width: 20px;
    background-image: url(../images/passrate_student_grey.png);
    background-repeat: no-repeat;
}
.mypassratered {
    position: absolute;
    width: 20px;
    height: 40px;
    background-image: url(../images/passrate_student_red.png);
    background-repeat: no-repeat;
}
.mypassrateyellow {
    position: absolute;
    width: 20px;
    height: 40px;
    background-image: url(../images/passrate_student_yellow.png);
    background-repeat: no-repeat;
}


/*header*/
.navbar-brand.header-flag{
  float:left;
  margin-right:10px;
  padding-top:10px;
  padding-left:0;
}

/*header - navigation*/
.navbar-collapse{
  float:right;
}

/*language nav*/
.navbar-collapse.navbar-lang{
  float:right;
  margin-left: 20px;
  background: #f0f0f0;
  margin-top:10px;
  padding-top:17px;
  padding-bottom:13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.navbar-lang ul{
  height:20px;
  display:block;
}

.navbar-lang li{
  border-right:1px solid #1595d3;
  display:inline;
}

.navbar-lang li:last-child{
  border-right:none;
}

.navbar-lang li a{
  color: #aaaaaa;
  padding-top:0;
  padding-bottom:0;
  line-height:14px;
  outline:none;
  -webkit-transition: color 300ms ease-in;
  -moz-transition: color 300ms ease-in;
  -o-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

.navbar-lang li a:hover,
.navbar-lang li.active a{
  color: #1595d3;
}

/* header - announcement */
.header-announcements {
  clear: left;
  float: right;
}
.header-announcements a {
  padding: 10px 15px;
}


/* Layout framework */

.map-widget {
  /* establish a positioning context for the rest of the app components */
  position: absolute;
  top: 70px;  /* header height */
  left: 0;
  right: 0;
  bottom: 0;
}


/* Map */
.map-position-wrap {
  position: absolute;
  top: 42px;  /* nav height */
  left: 0;
  right: 500px;  /* sidebar width */
  bottom: 0;
}
#map {
  height: 100%;
}

/* Sidebar */
.sidebar {
  position: absolute;
  top: 42px;  /* nav height */
  right: 0;
  bottom: 0;
  width: 500px;
  overflow-y: auto;
}
.sidebar .contained {  /* hack for search for now */
  width: 500px;
  margin: 0;
}


/* Map fly-out */
.map-flyout {
  position: absolute;
  right: 500px;  /* sidebar width */
  top: 42px;  /* nav height */
  height: 100%;
  width: 230px;
  padding: 15px 30px;
  background: hsla(0, 0%, 97%, 0.8);
  border-left: 1px solid hsla(0, 0%, 85%, 0.5);
}
.map-flyout header,
.map-flyout .stat {
  margin: 1em 0;
}

.map-flyout h2, h3, h4 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  color: #444;
}
.map-flyout h4 {
  font-style: italic;
  color: #666;
}
.map-flyout .word,
.map-flyout .number {
  margin: 0;
  font-weight: bold;
  color: #05a2dc;
}
.map-flyout .word {
  font-size: 1.2em;
}
.map-flyout .number {
  font-size: 2.5em;
}
