@import "variables";
@import "mixins";

.navbar-brand {
  @media only screen and (max-width: $lg-ish) {
    padding-right: $general-space * 2;
  }
  @media only screen and (max-width: $xxs) {
    padding-right: 0;
  }
}

.map-widget {
  @media only screen and (max-width: $xxs) {
    bottom: 0;  // footer is hidden
  }
}

.map-position-wrap {
  @media only screen and (max-width: $xs-ish) {
    right: 0;  // the sidebar is hidden
  }
}

.sidebar {
  @media only screen and (max-width: $xs-ish) {
    display: none;
  }
}

map-bottom-toggle.legend {
  @media only screen and (max-width: $xxs) {
    width: $full-width;  // filters are hidden
  }
}
map-bottom-toggle.filters {
  @media only screen and (max-width: $xxs) {
    display: none;
  }
}

.footer {
  bottom: 0;
  display: fixed;
  @media only screen and (max-width: $md-ish) {
    bottom: $general-space * 3;
  }
  @media only screen and (max-width: $xxs) {
    display: none;
  }

  .nav {
    @media only screen and (max-width: $md-ish) {
      bottom: $general-space * 2;
      display: block;
      margin-left: -$general-space;
      position: absolute;
      width: $general-large-space * 5;
    }
    @media only screen and (max-width: $xs-ish) {

    }
    li a {
      @media only screen and (max-width: $md-ish) {
        font-size: $smallest-text + 2;
        margin-top: -$general-space*2.2;
      }
    }
  }

  p {
    @media (max-width: $md-ish) {
      margin-top: $general-space - 2;
      width: $full-width / 1.2;
    }
    @media (max-width: $xs) {
      margin-top: $general-space + 4;
      margin-right: -$general-space*10;
      width: $full-width * 1.5;
    }
    @media (max-width: $xs-ish) {
      font-size: $smallest-text + 1;
      line-height: $smallest-text + 2;
    }
  }
}


.google-form {
  @media only screen and (max-width: $lg-ish) {
    width: $full-width - 5;
    margin-top: $general-space;
    overflow-x: no-scroll;
  }
}

#schoolinfo-placeholder {
  @media only screen and (max-width: $md-ish) {
    display: none;
  }
  @media only screen and (max-width: $sm) {
    display: none;
  }
}

#generalcontent .boxlink-container {
  @media only screen and (max-width: $md-ish) {
    margin-left: 0;
    width: $full-width;
  }
  @media only screen and (max-width: $sm-ish) {
    margin-left: -1%;
    width: $full-width - 8;
  }
}

#generalcontent a.boxlink {
  @media only screen and (max-width: $lg-ish) {
    font-size: $small-title - 2;
    margin-right: $general-space;
    width: $full-width + 12;
  }
}

.page-title {
  @media screen and (max-width: $sm-ish) {
    font-size: 25px;
    line-height: 28px;
  }
}

.header-announcements {
  @media screen and (max-width: $sm-ish) {
    display: none;
  }
}

.hide-sm {
  @media screen and (max-width: $sm-ish) {
    display: none;
  }
}

.show-sm {
  @media screen and (max-width: $sm-ish) {
    display: block;
  }
}

#schoolinfo .top-school-badge {
  @media screen and (max-width: $sm-ish) {
    top: $general-space * 3;
    img {
      width: $full-width - 40;
    }
  }
}

.navbar-lang {
  @media only screen and (max-width: $lg-ish) {
    position: absolute;
    right: $general-large-space*2 + 20;
    top: -$general-space*1.5;
  }

  @media only screen and (max-width: $md-ish) {
    margin-right: $general-space + 36;
    margin-top: $general-space + 12;
  }
  @media only screen and (max-width: $xs) {
    top: 0;
    right: $general-space + 12;
    padding: 0;
    background: none;
    ul {
      li {
        float: left;
        a {
          padding: 0 21px 0 0;
          margin-left: $general-space + 11;
          &:hover {
            background: none;
            color: darken($body-text-color, 25%);
          }
        }
        &.active a {
          background: none;
          color: darken($body-text-color, 25%);
        }
      }
    }
  }
  @media only screen and (max-width: $xs-ish) {
    top: -13px;
    right: $general-space + 5;
  }
  @media only screen and (max-width: $xxs) {
    @include border-radius(0);
    margin: 45px 0 0 0;
    padding: 1px 0 0 0;
    cursor: pointer;
    z-index: 1;
    background: $menu-tab-grey;
    border-bottom: 1px solid $content-bg;
    width: $full-width;
    right: 0;
    top: $general-space + 9;
    ul {
      display: block;
      li {
        width: $full-width / 2;
        text-align: center;
        a {
          font-size: $smallest-text + 1;
          color: $body-text-color;
        }
        &.active a {
          color: $theme-blue;
        }
      }
    }
  }
}


ul.main-nav {
  @media only screen and (max-width: $xs) {
    z-index: 5;
    margin-top: 38px;
    li {
      a {
        color: $theme-blue;
      }
    }
  }
  @media only screen and (max-width: $xs-ish) {
    margin-top: 17px;
    li {
      border-right: none;
      margin-bottom: 10px;
      text-align: right;
      a {
        color: $body-text-color-inverse;
        padding-right: 10px;
      }
      a:hover,
      a:focus {
        color: $body-text-color-inverse;
        outline: none;
      }
    }
  }
}

.jumbotron {
  @media only screen and (max-width: $xs) {
    border-bottom: 0;
  }
}

.navbar-toggle {
  @media only screen and (max-width: $xs-ish) {
    @include border-radius(0px);
    padding: 11px;
    top: 17px;
  }
  @media only screen and (max-width: $xxs) {
    top: 5px;
  }
}

.container-fluid > .navbar-collapse {
  @media only screen and (max-width: $xs-ish) {
    position: absolute;
    top: 59px;
    right: 31px;
    width: 22%;
    background: $theme-blue;
    z-index: 2;
  }
  @media only screen and (max-width: $xxs) {
    width: 30%;
    top: 47px;
  }
}

.splash-image {
  @media only screen and (max-width: $xs-ish) {
    margin-top: 37px;
  }
}

.navbar-education {
  ul li a {
    @media only screen and (max-width: $md-ish) {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: $xs-ish) {
    margin-top: 17px;
    float: right;
    margin-right: 76px;
    ul {
      li {
        float: left;
      }
    }
  }
  @media only screen and (max-width: $xxs) {
    width: 100%;
    position: absolute;
    left: 0;
    top: 97px;
    border-top: 1px solid $content-bg;
    z-index: 2;
    padding: 0;
    margin: 0;
    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        width: 50%;
        float: left;
      }
    }
  }
}

.map-widget {
  @media only screen and (max-width: 640px) {
    bottom: 0;
  }
}

.map-container {
  @media only screen and (max-width: $xxs) {
    margin-top: 63px;
    .nav-tabs {
      li {
        width: 25%;
        a {
          border-left: 1px solid transparent;
          color: $body-text-color;
        }
        &.active a {
          color: $content-bg;
        }
      }
    }
  }
}

.map-position-wrap {
  @media only screen and (max-width: $xxs) {
    top: 120px;
  }
}

.sidebar {
  @media only screen and (max-width: $xxs) {
    top: 120px;
  }
}


.pt-ratio {
  // retina display sprites
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
         only screen and (   min--moz-device-pixel-ratio: 1.5),
         only screen and (        min-device-pixel-ratio: 1.5),
         only screen and (                min-resolution: 192dpi),
         only screen and (                min-resolution: 1.5dppx) {
        background-image: url(../images/sprite-school-icons@x2.png);
  }
}

.pass-rate {
  // retina display sprites
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
         only screen and (   min--moz-device-pixel-ratio: 1.5),
         only screen and (        min-device-pixel-ratio: 1.5),
         only screen and (                min-resolution: 192dpi),
         only screen and (                min-resolution: 1.5dppx) {
    background-image: url(../images/sprite-school-icons@x2.png);
    background-repeat: no-repeat;
    float: left;
    &.boy-pass-yellow {
      background-position: -60px -40px;
    }
    &.girl-pass-grey {
      background-position: 1px 2px;
    }
    &.girl-pass-red {
      background-position: -41px 1px;
    }
    &.girl-pass-green {
      background-position: -19px 1px;
    }
    &.girl-pass-yellow {
      background-position: -60px 1px;
    }
  }
}

.feedback-form-container {
  @media only screen and (max-width: $md-ish) {
    padding-bottom: 600px;
  }
  @media only screen and (max-width: $xs) {
    left:-6%;
    padding-bottom: 750px;
    width: 110%;
  }
}

.panel-title {
  .glyphicon {
    @media only screen and (max-width: $xs) {
      display:none;
    }
  }
}
