// max width 1280
@media only screen and (max-width : $e){

}

// max width 1024
@media (max-width: $f) {
    .nav > li > a {
        padding: 10px 8px;
    }
}

// max width 992
@media only screen and (max-width : $e) {
  .navbar-lang{
    float:left;
    margin-left:6px;
    margin-top: -10px;
    background:none;
    li{
      border-right:1px solid $grey-light;
      a{
        font-size:13px;
        &:hover{color:$grey-light;}
        }
      }
    }
}

// max width 850
@media screen and (max-width: $c) {
    .hide-sm{
        display: none;
    }
    .show-sm{
        display: block;
    }
    #schoolinfo .top-school-badge{
        top: 30px;
    }
    #schoolinfo .top-school-badge img{
        width: 60%;
    }
}

// min width 768
@media screen and (min-width: $xs) {
    /* Remove the padding we set earlier */
    .header,
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

// max width 768
@media only screen and (max-width: $xs) {
  #main-nav-items{
    width: 40%;
    margin-top:10px;
  }

  .page-title{
    padding-top:30px;
  }

  #generalcontent a.boxlink {
    font-size: 13px;
  }

  .splash-image {
    height: 320px;
    overflow: hidden;
    img {
      position: relative;
    }
  }

  .google-form{
      width: 100%;
  }

}


// max width 480
@media screen and (max-width: $a) {
    .nav-tabs > li > a{
        font-size: 10px;
    }
    .navbar-lang {
      float:left;
      margin-top:-9px;
      background:#800;
      li a {
        color: #fff;
      }
    }

    .container-fluid > .navbar-collapse{
      @include border-radius(0px);
      position:absolute;
      top:51px;
      right:30px;
      width:28%;
      background: $theme-blue;
        ul{
          margin-top:10px;
          &.main-nav li{
            border-right:none;
            text-align:right;
            a{
              line-height:12px;
              color: #ffffff;
              &:hover{
                color: #000000;
              }
            }
          }
        }
}
