# deploy config
slackHookURL.txt

# build stuff etc
node_modules
dist
.tmp
.sass-cache
bower_components

# Temporary, backup & MacOS dir
*~
*.lock
*.DS_Store
*.swp
*.swo
.idea
*.iml

app/styles/main.css

app/styles/pupilsprite.css
