<div class="map-widget {'has-filters': mapView != 'district'}">
  <div class="map-position-wrap">
    <div leaflet-map
      id="map"
      layers="layers"
      school-type="schoolType">
    </div>
    <div class="bottom-white-bar"></div>

    <map-bottom-toggle title="{{ 'legend.title' | translate }}" class="legend">
      <div ng-if="visMode==='passrate'">
        <h4><span translate="legend.passrate">Passrate</span> (%)</h4>
        <ol class="passrate">
          <li class="unknown" translate="legend.unknown">Unknown</li>
          <li class="poor">0&ndash;40</li>
          <li class="medium">40&ndash;60</li>
          <li class="good">60&ndash;100</li>
        </ol>
      </div>
      <div ng-if="visMode==='ptratio'">
        <h4 translate="legend.ptratio">Pupil-Teacher Ratio</h4>
        <ol class="ptratio">
          <li class="unknown" translate="legend.unknown">Unknown</li>
          <li class="good">&lt; 35</li>
          <li class="medium">35&ndash;50</li>
          <li class="poor">&gt; 50</li>
        </ol>
      </div>
    </map-bottom-toggle>

    <map-bottom-toggle
      ng-if="activeMap!='districts'"
      title="{{ 'filters.title' | translate }}"
      class="filters">
      <h4><span translate="legend.passrate">Passrate</span> (0%&ndash;100%)</h4>
      <div range-slider
        min="0"
        max="100"
        model-min="filterPassRate.range.min"
        model-max="filterPassRate.range.max"
        model-min="filterPassRate.min"
        model-max="filterPassRate.max"
        attach-handle-values="true">
      </div>
      <h4 translate="legend.ptratio">Pupil-Teacher Ratio</h4>
      <div range-slider
        min="0"
        max="10"
        model-min="filterPupilRatio.range.min"
        model-max="filterPupilRatio.range.max"
        model-min="filterPupilRatio.min"
        model-max="filterPupilRatio.max"
        attach-handle-values="true">
      </div>
    </map-bottom-toggle>
  </div>

  <!-- map fly-out -->
  <div class="map-flyout" ng-if="mapView=='districts'">
    <header>
      <h2 translate="map.selected.region">Region Name</h2>
      <p class="word">Simanjiro</p>
    </header>
    <div class="stat">
      <h3 translate="map.selected.number-school">Number of Schools</h3>
      <p class="number">73</p>
      <div class="stat">
        <h4 translate="map.selected.goberment">Government Schools</h4>
        <p class="number">38</p>
      </div>
      <div class="stat">
        <h4 translate="map.selected.private-school">Private Schools</h4>
        <p class="number">35</p>
      </div>
    </div>
    <div class="stat">
      <h3 translate="map.selected.average-pass-rate">Average Pass Rate</h3>
      <p class="number">51</p>
    </div>
    <div class="stat">
      <h3>Rank</h3>
      <p class="number good">51</p>
    </div>
  </div>
  <div class="map-flyout" ng-if="mapView=='schools'">
    <header>
      <h2 translate="map.selected.school-name">School Name</h2>
      <p class="word">Simanjiro</p>
    </header>
    <div class="stat">
      <h3 translate="map.selected.region">Region</h3>
      <p class="word">Mwanza</p>
    </div>
    <div class="stat">
      <h3 translate="map.selected.district">District</h3>
      <p class="word">Bunda</p>
    </div>
    <div class="stat">
      <h3 translate="map.selected.ward">Ward</h3>
      <p class="word">Nampindi</p>
    </div>
    <div class="stat">
      <h3 translate="map.selected.passrate">Pass Rate</h3>
      <p class="number good">73%</p>
    </div>
    <div class="stat">
      <h3 translate="map.selected.pt-ratio">Pupil-Teacher Ratio</h3>
      <p class="number good">51</p>
    </div>
  </div>
  <!-- end map flyout -->


  <div class="container-fluid">
    <div class="row map-widget-row">
      <div class="col-sm-12 map-container">
        <ul class="nav nav-tabs" id="nav-tabs-dashboard">
          <li role="presentation" ng-class="{active: mapView=='regional'}">
            <a ng-click="showView('regional')">
              <span class="hide-sm" translate="tab.regional-view">Regions</span>
              <span class="show-sm" translate="tab.regional">Regional</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: mapView=='district'}">
            <a ng-click="showView('district')">
              <span class="hide-sm" translate="tab.district-view">Districts</span>
              <span class="show-sm" translate="tab.district">District</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: schoolType=='primary'}">
            <a ng-click="setSchoolType('primary')">
              <span class="hide-sm" translate="tab.primary-schools-mode">Primary Schools</span>
              <span class="show-sm" translate="tab.primary">Primary</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: schoolType=='secondary'}">
            <a ng-click="setSchoolType('secondary')">
              <span class="hide-sm" translate="tab.secondary-schools-mode">Secondary Schools</span>
              <span class="show-sm" translate="tab.secondary">Secondary</span>
            </a>
          </li>
          <li role="presentation" ng-class="" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-click="">
              <span class="hide-sm" translate="tab.year-mode">Year</span>
              <span class="show-sm" translate="tab.year">Year</span>
            </a>
            <ul year-selector class="dropdown-menu dropdown-menu-right" ng-init="selectedYear=2012"></ul>
          </li>
        </ul>
      </div>

      <div class="sidebar">
        <div class="map-details-container">
          <div class="page-header">
            <div class="text-center"><strong>{{ title | translate }}</strong></div>
          </div>
          <div class="container-fluid perfomance-gauges">
            <div class="row col-xs-12">
              <div class="col-xs-4 text-center">
                <pass-rate-change min="-5" max="5" datasource="passRateChange"></pass-rate-change>
              </div>
              <div class="col-xs-4">
                <gauge-chart title="{{'chart.pupil-teacher-ration'| translate}}" tooltip="ratio" ranges="35,50" colors="#fcce39,#2d991c,#f05e55" format="{y}" datasource="pupilTeacherRatio"></gauge-chart>
              </div>
              <div class="col-xs-4">
                <gauge-chart title="{{'chart.average-pass-rate'| translate}}" tooltip="passrate" ranges="40,60" colors="#f05e55,#fcce39,#2d991c" format="{y} %" datasource="passrate"></gauge-chart>
              </div>
            </div>
          </div>
          <div class="container-fluid perfomance-gauges" ng-hide="selectedSchool|exists">
            <div class="row col-xs-12">
                <pass-rate-time title="{{'chart.pass-rate-time'| translate}}" ranges="30,70" colors="#f05e55,#fcce39,#2d991c" datasource="globalpassratetime"></pass-rate-time>
            </div>
          </div>
          <form class="form-horizontal">
            <div class="form-group contained">
              <div class="col-xs-1 text-right control-label" style="padding-right: 1px">
                <img src="images/searchicon.png" class="pull-right">
              </div>
              <div class="col-xs-10">
                <ui-select ng-model="selectedSchool" class="search-schools" on-select="setSchool($item, $model)">
                  <ui-select-match placeholder="{{'school.selector-tooltip' | translate}}">{{ $select.selected.name }}</ui-select-match>
                  <ui-select-choices repeat="school in schoolsChoices" refresh="getSchoolsChoices($select.search)">
                    <div ng-bind-html="school.name | highlight: $select.search"></div>
                    <small class="text-muted">
                      {{'school.center-code' | translate}}: {{school.code}}
                      <br>
                      {{'school.district' | translate}}:
                      <span ng-bind-html="''+school.district | highlight: $select.search"></span>
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </form>

          <div class="container-fluid" ng-hide="selectedSchool|exists">
            <div class="col-sm-12 performance-nav">

              <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: rankBest==='performance'}">
                  <a ng-click="rankBest='performance'">{{'button.best.performing'|translate}}</a>
                </li>
                <li role="presentation" ng-class="{active: rankBest==='improvement'}">
                  <a ng-click="rankBest='improvement'">{{'button.best.improved'|translate}}</a>
                </li>
              </ul>
                {{rankBest}}
            </div>
              <div ng-if="rankBest==='improvement'">
                  <div id="schooltablescontainer">
                      <p class="tableheader"><img src="images/happy.png" class="face" translate="chart.top.most-improved-schools">Most improved schools</p>
                      <div class="scroll">
                          <table class="schools">
                              <tr ng-repeat="school in mostImprovedSchools">
                                  <td class="rank">{{ $index + 1 }}.</td>
                                  <td class="name" ng-mouseover="setSchool(school, null, false)" ng-click="setSchool(school)"><strong>{{ school.name }}</strong><p>{{ school.district }} {{'district'|translate}}, {{ school.region }} {{'region'|translate}}</br></p></td>
                                  <td class="passrategreen">{{ school.change_13_14 }}%</td>
                              </tr>
                          </table>
                      </div>

                      <p class="tableheader"><img src="images/sad.png" class="face" translate="chart.top.least-improved-schools">Least improved schools</p>
                      <div class="scroll">
                          <table class="schools">
                              <tr ng-repeat="school in leastImprovedSchools">
                                  <td class="rank">{{ $index + 1 }}.</td>
                                  <td class="name" ng-mouseover="setSchool(school, null, false)" ng-click="setSchool(school)"><strong>{{ school.name }}</strong><p>{{ school.district }} {{'district'|translate}}, {{ school.region }} {{'region'|translate}}</br></p></td>
                                  <td class="passratered">{{ school.change_13_14 }}%</td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>

              <div ng-if="rankBest==='performance'">
                  <div id="schooltablescontainer">

                      <p class="tableheader"><img src="images/happy.png" class="face" translate="chart.top.best-performing-schools">Best performing schools</p>
                      <div class="scroll">
                          <table class="schools">
                              <tr ng-repeat="school in bestSchools">
                                  <td class="rank">{{ $index + 1 }}.</td>
                                  <td class="name" ng-mouseover="setSchool(school, null, false)" ng-click="setSchool(school)"><strong>{{ school.name }}</strong><p>{{ school.district }} {{'district'|translate}}, {{ school.region }} {{'region'|translate}}</br></p></td>
                                  <td class="passrategreen">{{ school.pass_2014 }}%</td>
                              </tr>
                          </table>
                      </div>

                      <p class="tableheader"><img src="images/sad.png" class="face"  translate="chart.top.worst-performing-schools">Worst performing schools</p>
                      <div class="scroll">
                          <table class="schools">
                              <tr ng-repeat="school in worstSchools">
                                  <td class="rank">{{ $index + 1 }}.</td>
                                  <td class="name" ng-mouseover="setSchool(school, null, false)" ng-click="setSchool(school)"><strong>{{ school.name }}</strong><p>{{ school.district }} {{'district'|translate}}, {{ school.region }} {{'region'|translate}}</br></p></td>
                                  <td class="passratered">{{ school.pass_2014 }}%</td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>


          </div>

          <div class="container-fluid perfomance-gauges" ng-if="false"><!-- bring back for regional views -->
            <div class="row col-xs-12">
              <pass-rate-time title="{{'chart.pass-rate-time'| translate}}" ranges="40,60" colors="#f05e55,#fcce39,#2d991c" datasource="globalpassratetime"></pass-rate-time>
            </div>
          </div>

          <div ng-if="mapView=='district'">
            <div id="districtinfo" class="container-fluid">
              <div class="col-sm-12 performance-nav">
                <ul class="nav nav-tabs">
                  <li role="presentation" ng-class="{active: rankBest==='performance'}" ng-init="rankBest='performance'">
                    <a ng-click="rankBest='performance'">Performance</a>
                  </li>
                  <li role="presentation" ng-class="{active: rankBest==='improvement'}">
                    <a ng-click="rankBest='improvement'">Improvement</a>
                  </li>
                </ul>
              </div>
              <div ng-if="rankBest==='performance'">
                <top-district-list class="row" title="chart.top.best-performing" emoticon="happy" data="bpdistrics" click="setMapView"></top-district-list>
                <top-district-list class="row" title="chart.top.worst-performing" emoticon="sad" data="wpdistrics" click="setMapView"></top-district-list>
              </div>
              <div ng-if="rankBest==='improvement'">
                <top-district-list class="row" title="chart.top.most-improved" emoticon="happy" data="midistrics" click="setMapView"></top-district-list>
                <top-district-list class="row" title="chart.top.least-improved" emoticon="sad" data="lidistrics" click="setMapView"></top-district-list>
              </div>
            </div>
          </div>

          <div ng-if="mapView=='schools'">
            <div ng-hide="selectedSchool|exists" class="container-fluid">
              <div id="schoolinfo-plaholder" class="text-center" translate="map.tooltip">
                Explore the map and click on a school to get started.
              </div>
            </div>
            <div ng-if="selectedSchool|exists" id="schoolinfo" class="container-fluid">
              <p class="schoolname">
                {{ selectedSchool.name }}
                <span class="pull-right top-school-badge text-right">
                  <img ng-if="selectedSchool.rank_2014 <= 100" src="images/topschoolbadge.png">
                  <img ng-if="schoolType == 'primary' && selectedSchool.change_13_14 >= 62" src="images/mostimprovedbadgeprimary.png">
                  <img ng-if="schoolType == 'secondary' && selectedSchool.change_13_14 >= 55" src="images/mostimprovedbadgesecondary.png">
                </span>
              </p>
              <p class="code">
                {{ selectedSchool.code }}
                <span ng-if="selectedSchool.ownership|exists" class="text-capitalize">, {{ selectedSchool.ownership }}</span>
              </p>
              <rate-pass-chart min="40" max="60" datasource="selectedSchool"></rate-pass-chart>
              <div class="widget col-md-4" ng-if="selectedSchool.change_13_14|exists">
                <p class="widgettitle" translate="chart.title.change-since-2013">change since 2013</p>
                <p class="widgetnumber">
                    <img ng-if="selectedSchool.change_13_14 > 0" ng-src="images/arrowgreen.png" class="arrow">
                    <img ng-if="selectedSchool.change_13_14 < 0" ng-src="images/arrowred.png" class="arrow">
                    <img ng-if="selectedSchool.change_13_14 == 0" ng-src="images/arrowyellow.png" class="arrow">
                            <span ng-class="{
                                    'text-red': selectedSchool.change_13_14 < 0,
                                    'text-yellow': selectedSchool.change_13_14 == 0,
                                    'text-green': selectedSchool.change_13_14 > 0}">
                                {{ selectedSchool.change_13_14 }}%
                            </span>
                </p>
              </div>
              <div ng-class="(selectedSchool.change_13_14|exists)? 'col-md-8': 'col-md-12'">
                <pass-rate-time title="{{'chart.pass-rate-time'| translate}}" ranges="40,60" colors="#f05e55,#fcce39,#2d991c" datasource="passratetime"></pass-rate-time>
              </div>
              <div class="widget col-md-12">
                <p class="widgettitle" translate="chart.title.national-raking">national ranking</p>
                <div id="nationalRanking" class="text-muted"></div>
              </div>
              <div class="widget row widget-full-width">
                <div class="col-lg-6"><rank datasource="regionRank" title="chart.title.rank-region"></rank></div>
                <div class="col-lg-6"><rank datasource="districtRank" title="chart.title.rank-district"></rank></div>
              </div>
              <div class="widget" ng-if="selectedSchool.pt_ratio|exists">
                  <pupil-teacher-ratio-chart min="25" max="40" datasource="selectedSchool"></pupil-teacher-ratio-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
