<div id="generalcontent">
	Explore the data behind the dashboard.
	<p class="text">
		This Education Dashboard is built on open data released by the Government of Tanzania. The raw data is published on the Government's <a href="http://www.opendata.go.tz" target="_blank">open data portal</a> in machine-readable format with a license that encourages re-use. The data behind this education dashboard come from Ministry of Education, NECTA, and the National Bureau of Statistics.
	</p>
	<p>
		<a href="http://www.opendata.go.tz" class="boxlink" target="_blank">Open Data Portal</a>
	</p>
	<p class="text">
		To prepare the raw data into cleaned datasets for these visualizations, a suite of free and open-source tools were used. These include Open Refine, Fusion Tables, and qGIS.
	</p>
	<p>
		<a href="http://www.openrefine.org" class="boxlink" target="_blank">Open Refine</a><a href="https://www.google.com/fusiontables/data?dsrcid=implicit&pli=1" class="boxlink" target="_blank">Fusion Tables</a><a href="http://www.qgis.org" class="boxlink" target="_blank">QuantumGIS</a>
	</p>
	<p class="text">
		The cleaned datasets are visualized into maps using CartoDB, another free tool. Click below to explore the cleaned datasets.
	</p>
	<p>
		<a href="https://worldbank.cartodb.com/u/wbank/datasets" class="boxlink" target="_blank">CartoDB</a>
	</p>
</div>
