<div id="generalcontent">
    <div class="container-fluid">
	{{'data.title'| translate}}
	<p class="text">
		{{'data.paragh1'| translate}}<a href="http://www.opendata.go.tz" target="_blank" translate="data.link.opendata">open data portal</a>{{'data.paragh2'| translate}}
	</p>
	
    <p class="text-center boxlink-container">
        <a href="http://www.opendata.go.tz" class="boxlink" target="_blank" translate="data.link.opendata">Open Data Portal</a>
    </p>

	<p class="text" translate="data.text">
		To prepare the raw data into cleaned datasets for these visualizations, a suite of free and open-source tools were used. These include Open Refine, Fusion Tables, and qGIS.
	</p>

    <div class="row boxlink-container">
        <div class="col-xs-4 text-center"><a href="http://www.openrefine.org" class="boxlink" target="_blank" translate="data.link.openrefine">Open Refine</a></div>
        <div class="col-xs-4 text-center"><a href="https://www.google.com/fusiontables/data?dsrcid=implicit&pli=1" class="boxlink" target="_blank" translate="data.link.fusiontable">Fusion Tables</a></div>
        <div class="col-xs-4 text-center"><a href="http://www.qgis.org" class="boxlink" target="_blank" translate="data.link.quatumgis">Quantum GIS</a></div>
    </div>

	<p class="text" translate="data.paragh.end">
		The cleaned datasets are visualized into maps using CartoDB, another free tool. Click below to explore the cleaned datasets.
	</p>
	<p class="text-center boxlink-container">
		<a href="https://worldbank.cartodb.com/u/wbank/datasets" class="boxlink" target="_blank" translate="data.link.cartodb">CartoDB</a>
	</p>
    </div>
</div>
