<div id="generalcontent" class="full-screen-height">
    <div class="container vert-padding">
        <div class="row">
          <div class="col-xs-12">
            {{'data.title'| translate}}
            <p class="text">{{'data.paragh1'| translate}} <a class="link"
            href="http://www.opendata.go.tz" target="_blank">open data
            portal</a> {{'data.paragh2'| translate}}</p>

            <p class="text-center boxlink-container"><a class="boxlink"
            href="http://www.opendata.go.tz" target="_blank">Open Data
            Portal</a></p>
            </div>
        </div>
    </div>
</div>
