<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-8">

      <div class="pull-left"><img class="navbar-brand" src="/images/tz-symbol.png" alt="tanzania symbol"></div>

      <div class="navbar-footer pull-left">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-items">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse pull-left">
        <ul class="nav navbar-nav">
          <li><a href="#/" translate="menu.home">Home</a></li>
          <li><a href="#/" translate="tab.regional-view">Region</a></li>
          <li><a href="#/" translate="tab.district-view">District</a></li>
          <li><a href="#/data" translate="menu.data">Data</a></li>
          <li><a href="#/speakout" translate="menu.speakout">Speak out</a></li>
        </ul>
      </div><!--nav bar-->
    </div>

    <div class="col-xs-6 col-lg-4">
      <p class="pull-right">The content of this website is published under a CC BY NC SA 3.0 license, and the source code is published under a GPL 3.0 license. Visitors are encouraged to eaxamine and re-use the code as long as they publish it under a similar license.</p>
    </div>

    </div>

  </div>
</footer>
