<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-8">

      <div class="pull-left"><img class="navbar-brand" src="/images/tz-symbol.png" alt="tanzania symbol"></div>

      <div class="navbar-footer pull-left">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-items">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse pull-left">
        <ul class="nav navbar-nav">
          <li><a href="#/" translate="menu.home">Home</a></li>
          <!--
          <li><a href="#/" translate="tab.regional-view">Region</a></li>
          <li><a href="#/" translate="tab.district-view">District</a></li>
          -->
          <li><a href="#/data" translate="menu.data">Data</a></li>
          <li><a href="#/speakout" translate="menu.speakout">Speak out</a></li>
        </ul>
      </div><!--nav bar-->
    </div>

    <div class="col-xs-6 col-lg-4">
      <p class="pull-right">
          {{'footer.licensenote1'| translate}}<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/" class="link white" translate="footer.link1"></a>
          {{'footer.licensenote2'| translate}}<a href="https://github.com/WorldBank-Transport/edudash" class="link white" translate="footer.link2"></a>
          {{'footer.licensenote3'| translate}}<a href="http://www.gnu.org/licenses/gpl-3.0.en.html" class="link white" translate="footer.link3"></a>{{'footer.licensenote4'| translate}}
    </div>

    </div>

  </div>
</footer>
