<footer class="footer">
  <div class="container-fluid">

<div class="pull-left"><img class="navbar-brand" src="/images/tz-symbol.png" alt="tanzania symbol"></div>

<div class="navbar-footer pull-left">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-items">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div class="collapse navbar-collapse pull-left">
  <ul class="nav navbar-nav main-nav">
    <li><a href="#/" translate="menu.home">Home</a></li>
    <li><a href="#/" translate="menu.home">Region</a></li>
    <li><a href="#/" translate="menu.home">District</a></li>
    <li><a href="#/data" translate="menu.data">Data</a></li>
    <li><a href="#/speakout" translate="menu.speakout">Speak out</a></li>
  </ul>

</div>
  </div>
  </div>
</footer>
