<div id="main-header">
  <div class="container-fluid" ng-init="showPointInfo=false">
    <div class="navbar-brand header-flag"><img src="images/tzflag.png"></div>
    <h1 translate="dashboard.title">Tanzania Education Dashboard</h1>

    <education-selector></education-selector>

    <lang-selector></lang-selector>

    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-items">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse main-header-nav hide-sm" id="main-nav-items">
      <ul class="nav navbar-nav main-nav">
        <li><a href="#/" translate="menu.home">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#/data" translate="menu.data">Data</a></li>
        <li><a href="#/speakout" translate="menu.speakout">Speak out</a></li>
      </ul>

    </div>
  </div>
</div>
<announcements class="header-announcements hide-sm"></announcements>
