<div id="generalcontent">
    <div class="container-fluid">
        Track school performance, explore data and provide feedback using this Education Dashboard.
        <div class="row boxlink-container">
            <div class="col-xs-6 text-center"><a href="/#/dashboard/primary/" class="boxlink">Primary Schools</a></div>
            <div class="col-xs-6 text-center"><a href="/#/dashboard/secondary/" class="boxlink">Secondary Schools</a></div>
        </div>

        <p class="text">
            This Education Dashboard is a public open data portal to view the latest national exam results and monitor the information that is important to you. You can also use the menu options above to see original <a href="/#/data">data</a> and <a href="/#/speakout">speak out</a> about missing or wrong data.
        </p>
    </div>

</div> 
