<div id="generalcontent">
    Track school performance, explore data and provide feedback using this Education Dashboard.
    <p>
        <a href="/#/dashboard/primary" class="boxlink">Primary Schools</a> <a href="/#/dashboard/secondary" class="boxlink">Secondary Schools</a>
    </p>

    <p class="text">
        This Education Dashboard is a public open data portal to view the latest national exam results and monitor the information that is important to you. You can also use the menu options above to see original <a href="/#/data">data</a> and <a href="/#/speakout">speak out</a> about missing or wrong data.
    </p>
</div> 
