<div id="generalcontent" class="homepage-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 splash-image">
        <img class="img-responsive" src="/images/classroom.png" alt="classroom" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6">
        <h2 class="page-title"> {{'main.title'| translate}}</h2>
        <div class="row boxlink-container">
          <div class="col-sm-6 text-center">
            <a
                href="/#/dashboard/primary/"
                class="boxlink"
                translate="main.link.primary">
              Primary Schools
            </a>
          </div>
          <div class="col-sm-6 text-center">
            <a
                href="/#/dashboard/secondary/"
                class="boxlink"
                translate="main.link.secondary">
              Secondary Schools
            </a>
          </div>
        </div>
        <p class="text">
          {{'main.paragh1' | translate}}
          <a class="link" href="/#/data" translate="main.link.data">data</a>
          {{'main.paragh.connector' | translate}}
          <a class="link" href="/#/speakout" translate="main.link.speakout">speak out</a>
          {{'main.paragh2' | translate}}
        </p>
      </div>
    </div>
  </div>
</div>
