<header>
    <h2 translate="map.selected.school-name">School Name</h2>
    <p class="word">{{selectedSchool.name}}</p>
</header>
<div class="stat">
    <h3 translate="map.selected.region">Region</h3>
    <p class="word">{{selectedSchool.region}}</p>
</div>
<div class="stat">
    <h3 translate="map.selected.district">District</h3>
    <p class="word">{{selectedSchool.district}}</p>
</div>
<div class="stat">
    <h3 translate="map.selected.ward">Ward</h3>
    <p class="word">{{selectedSchool.ward}}</p>
</div>
<div class="stat">
    <h3 translate="map.selected.passrate">Pass Rate</h3>
    <p class="number good">{{selectedSchool.pass_2014}}%</p>
</div>
<div class="stat">
    <h3 translate="map.selected.pt-ratio">Pupil-Teacher Ratio</h3>
    <p class="number good">{{selectedSchool.pt_ratio}}</p>
</div>
