<!--
  Note that lastHovered is used in several places.
  This is OK because:
   1. lastHovered is always equal to hovered when hovered is not null
   2. lastHovered keeps its value for the flyout fade when the mouse leaves
-->
<div class="national-link" ng-hide="selectedSchoolCode|exists">
  <div class="text-center">
    <a class="link" ng-click="resetView()" translate="link.back.national"></a>
  </div>
</div>
<h2>
  <p class="schoolname">{{'polygon.panel.' + selectedPoly.properties.type | translate}}: {{ selectedPoly.properties.NAME }}</p>
</h2>
<div>
<div class="widget col-md-12 poly-pass-rate-panel bordered-col">
  <rate-pass-chart
      datasource="selectedPoly.properties.PASS_RATE">
  </rate-pass-chart>
</div>
</div>
<div class="col-md-12 bordered-col" style="width: 430px;">
  <span class="widgettitle" translate="chart.title.national-raking">national ranking</span>
  <rank-chart datasource="selectedPoly.properties.ranks.NATIONAL"></rank-chart>
</div>
<div class="widget col-md-12 bordered-col" ng-if="selectedPoly.properties.type == 'districts' && (lastHovered.properties.ranks.REGIONAL.rank |exists)">
  <rank
    datasource="selectedPoly.properties.ranks.REGIONAL"
    title="polygon.panel.regions.rank">
  </rank>
</div>
<div class="widget col-md-12 bordered-col" style="width: 430px">
  <pupil-teacher-ratio-chart datasource="selectedPoly.properties.PT_RATIO" present="Math.round"/>
</div>
<poligon-number
  name="{{'polygon.panel.gov-own-schools' | translate}}"
  value="selectedPoly.properties.GOVT_SCHOOLS"
  image="gov.png">
</poligon-number>
<poligon-number
  name="{{'polygon.panel.non-gov-schools' | translate}}"
  value="selectedPoly.properties.NON_GOVT_SCHOOLS"
  image="non_gov.png">
</poligon-number>
<poligon-number
  name="{{'polygon.panel.unknown' | translate}}"
  value="selectedPoly.properties.UNKNOWN_SCHOOLS"
  image="unknown.png">
</poligon-number>
