<!--
  Note that lastHovered is used in several places.
  This is OK because:
   1. lastHovered is always equal to hovered when hovered is not null
   2. lastHovered keeps its value for the flyout fade when the mouse leaves
-->
<header>
  <h2 translate="map.selected.{{polyType}}-name">Polygon Name</h2>
  <p class="word">{{ lastHovered.properties.NAME }}</p>
</header>
<flyout-number
  name="{{ 'map.selected.average-pass-rate' |translate }}"
  value="lastHovered.properties.PASS_RATE"
  present="Math.round"
  suffix="%"
  bracketer="PASS_RATE">
</flyout-number>
<flyout-number
  name="{{ 'map.selected.average-pt-ratio' |translate }}"
  value="lastHovered.properties.PT_RATIO"
  present="Math.round"
  bracketer="PUPIL_TEACHER_RATIO">
</flyout-number>
<flyout-number
  name="{{ 'map.selected.govt-schools' |translate }}"
  value="lastHovered.properties.GOVT_SCHOOLS">
</flyout-number>
<flyout-number
  name="{{ 'map.selected.non-govt-schools' |translate }}"
  value="lastHovered.properties.NON_GOVT_SCHOOLS">
</flyout-number>
<flyout-number
  name="{{ 'chart.title.national-raking' |translate }}"
  value="lastHovered.properties.ranks.NATIONAL.rank"
  suffix="(of {{ lastHovered.properties.ranks.NATIONAL.total}})"
  suffixclass="small-rank">
</flyout-number>
<flyout-number
  ng-if="lastHovered.properties.ranks.REGIONAL"
  name="{{ 'chart.title.rank-region' |translate }}"
  value="lastHovered.properties.ranks.REGIONAL.rank"
  suffix="(of {{ lastHovered.properties.ranks.REGIONAL.total}})"
  suffixclass="small-rank">

</flyout-number>
