<div>
  <div class="col-md-12">
    <span class="chart-title rank-label">{{title|translate}}</span>
  </div>
  <div class="col-md-12 rank-value" ng-hide="rank.rank===undefined">
    <p class="medium-character text-grey">
      {{ rank.rank }}
      <span class="medium-small-character text-grey">(of {{ rank.total }})</span>
    </p>
  </div>
  <div class="col-md-12 rank-value" ng-show="rank.rank===undefined">
    <p class="medium-character missing-data" translate="chart.metric.missing-data">NA</p>
  </div>
</div>
