<div>
    <div class="col-xs-3 col-sm-4 col-md-12" style="height: 64px">
        <p ng-class="{'text-green': data >= max, 'text-yellow': data < max && data > min, 'text-red':data <= min}"
           style="font-size: 36px;font-weight: 900;margin-top: 0px; margin-bottom: 2px;margin-right: 10px">{{sign}}{{ data }}%</p>
    </div>
    <div class="col-xs-3 col-sm-4 col-md-12">
        <span style="color:#05a2dc;font-size:11px;margin-bottom:2;fill:#05a2dc;width:100%;">{{'chart.dial-title'| translate}} {{ since }}</span>
    </div>
</div>