<div class="widget first">
    <p class="widgettitle">2014 pass rate</p>
    <div class="row">
        <div ng-class="{'col-xs-3': selectedSchool.pass_by_10 == 10, 'col-xs-2': selectedSchool.pass_by_10 != 10}"><p class="percentNumber widgetnumber text-yellow">{{ selectedSchool.pass_2014 }}%</p>
        </div>
        <div ng-class="{'col-xs-9': selectedSchool.pass_by_10 == 10, 'col-xs-10': selectedSchool.pass_by_10 != 10}">
            <div class="passrate passrategreen"></div>
            <div class="passrategrey" style="height: 23px"></div>
        </div>
    </div>
</div>
