<header>
  <h2>Region Name</h2>
  <p class="word">{{ hovered.feature.properties.name }}</p>
</header>
<div class="stat">
  <h3>Average Pass Rate</h3>
  <p class="number {{ hovered.feature.properties.pass_2014 === null ?
    'unknown' : hovered.feature.properties.pass_2014 < 40 ?
      'poor' : hovered.feature.properties.pass_2014 < 60 ?
        'medium' : 'good' }}">{{ hovered.feature.properties.pass_2014 }} %</p>
</div>
<div class="stat">
  <h3>Average Pupil-Teacher Ratio</h3>
  <p class="number {{ hovered.feature.properties.pt_ratio === null ?
    'unknown' : hovered.feature.properties.pt_ratio < 35 ?
      'good' : hovered.feature.properties.pt_ratio > 50 ?
        'poor' : 'medium' }}">{{ hovered.feature.properties.pt_ratio }}</p>
</div>
