<header>
  <h2>Region Name</h2>
  <p class="word">{{ hovered.properties.NAME }}</p>
</header>
<div class="stat">
  <h3>Average Pass Rate</h3>
  <p class="number {{ hovered.properties.PASS_RATE === null ?
    'unknown' : hovered.properties.PASS_RATE < 40 ?
      'poor' : hovered.properties.PASS_RATE < 60 ?
        'medium' : 'good' }}">{{ Math.round(hovered.properties.PASS_RATE) }} %</p>
</div>
<div class="stat">
  <h3>Average Pupil-Teacher Ratio</h3>
  <p class="number {{ hovered.properties.PUPIL_TEACHER_RATIO === null ?
    'unknown' : hovered.properties.PUPIL_TEACHER_RATIO < 35 ?
      'good' : hovered.properties.PUPIL_TEACHER_RATIO > 50 ?
        'poor' : 'medium' }}">{{ hovered.properties.PUPIL_TEACHER_RATIO }}</p>
</div>
