<div ng-if="printing" class="loading" style="z-index: 1010">
</div>
<div class="modal-header">
  <h3 class="modal-title" translate="modal.title.{{type}}.{{listType}}">Top Schools</h3>
  <h5 translate="modal.subtitle.{{school}}.{{type}}.{{listType}}">This is the list of the top 100 best performing schools published by the National Examination Council of Tanzania</h5>
</div>
<div class="modal-body full-size-scroll">
  <school-list
    class="position"
    list-title="{{'chart.top.schools.' + (listType === 'bad'? 'least-' + type: type) | translate}}"
    type="{{listType}}"
    dataset="items"
    click="selectSchool"
    hover="hover"
    unHover="unHover"
    property="PASS_RATE"
    sufix="%"
    showheader="true"
    columns="['REGION','DISTRICT']"
    limit="limit">
  </school-list>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()" translate="modal.cancel">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="pdf()" translate="tab.share.print"><img class="share-icon" src="images/icon-print.png">PDF</button>
</div>