<div
    class="performance-header"
    ng-class="{'best-perform': listType==='good',
               'poor-perform': listType==='bad'}">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  {{ listTitle }}
</div>
<div>
  <table class="school-performance">
    <tr ng-if="showHeader">
        <th translate="school.list.header.rank"></th>
        <th translate="school.list.header.name"></th>
        <th ng-repeat="column in columns" translate="school.list.header.{{column}}"></th>
        <th translate="school.list.header.{{property}}"></th>
    </tr>
    <tr ng-repeat="school in schools">
      <td class="rank">{{ $index + 1 }}.</td>
      <td class="name"
          ng-click="click(school.CODE)"
          ng-mouseenter="hover(school.CODE)"
          ng-mouseleave="unHover()">
        <strong>{{ school.NAME }}</strong>
      </td>
      <td ng-repeat="column in columns" class="name">
          {{ school[column] }}
      </td>
      <td class="passrate" ng-class="getStyle(school[property], property)">
        {{ school[property] }}{{ sufix }}
      </td>
    </tr>
  </table>
</div>
<a class="link" ng-click="showModal()" ng-show="schools.length && modalLimit" translate="modal.open.{{rankby}}.{{listType}}" translate-values="{modalLimit: '{{modalLimit}}'}"></a>
