<header>
  <h2>School Name</h2>
  <p class="word">{{ hovered.feature.name }}</p>
</header>
<div class="stat">
  <h3>Region</h3>
  <p class="word">{{ hovered.feature.region }}</p>
</div>
<div class="stat">
  <h3>District</h3>
  <p class="word">{{ hovered.feature.district }}</p>
</div>
<div class="stat">
  <h3>Ward</h3>
  <p class="word">{{ hovered.feature.ward }}</p>
</div>
<div class="stat">
  <h3>Pass Rate</h3>
  <p class="number {{ hovered.feature.pass_2014 === null ?
    'unknown' : hovered.feature.pass_2014 < 40 ?
      'poor' : hovered.feature.pass_2014 < 60 ?
        'medium' : 'good' }}">{{ hovered.feature.pass_2014 }} %</p>
</div>
<div class="stat">
  <h3>Pupil-Teacher Ratio</h3>
  <p class="number {{ hovered.feature.pt_ratio === null ?
    'unknown' : hovered.feature.pt_ratio < 35 ?
      'good' : hovered.feature.pt_ratio > 50 ?
        'poor' : 'medium' }}">{{ hovered.feature.pt_ratio }}</p>
</div>
