<div
    class="performance-header"
    ng-class="{'best-perform': listType==='good',
               'poor-perform': listType==='bad'}">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  {{ listTitle }}
</div>
<div class="scroll">
  <table class="school-performance">
    <tr ng-repeat="school in schools">
      <td class="rank">{{ $index + 1 }}.</td>
      <td class="name"
          ng-click="click(school.CODE)"
          ng-mouseenter="hover(school.CODE)"
          ng-mouseleave="unHover()">
        <strong>{{ school.NAME }}</strong>
      </td>
      <td ng-class="{
        'passrategreen': school[property]>=(max+0),
        'passrateyellow': school[property] < (max+0) && school[property] > (min+0),
        'passratered':school[property] <= (min+0)}">
        {{ school[property] }}{{ sufix }}
      </td>
    </tr>
  </table>
</div>
