<header>
  <h2>School Name</h2>
  <p class="word">{{ hoveredSchool.properties.name }}</p>
</header>
<div class="stat">
  <h3>Region</h3>
  <p class="word">{{ hoveredSchool.properties.region }}</p>
</div>
<div class="stat">
  <h3>District</h3>
  <p class="word">{{ hoveredSchool.properties.district }}</p>
</div>
<div class="stat">
  <h3>Ward</h3>
  <p class="word">{{ hoveredSchool.properties.ward }}</p>
</div>
<div class="stat">
  <h3>Pass Rate</h3>
  <p class="number {{ hoveredSchool.properties.pass_2014 === null ?
    'unknown' : hoveredSchool.properties.pass_2014 < 40 ?
      'poor' : hoveredSchool.properties.pass_2014 < 60 ?
        'medium' : 'good' }}">{{ hoveredSchool.properties.pass_2014 }} %</p>
</div>
<div class="stat">
  <h3>Pupil-Teacher Ratio</h3>
  <p class="number {{ hoveredSchool.properties.pt_ratio === null ?
    'unknown' : hoveredSchool.properties.pt_ratio < 35 ?
      'good' : hoveredSchool.properties.pt_ratio > 50 ?
        'poor' : 'medium' }}">{{ hoveredSchool.properties.pt_ratio }}</p>
</div>
