<div class="col-md-12">
    <p class="tableheaderdistrict" ng-class="{'tableheaderdistrictbad': districtListTileEmoticon == 'sad', 'tableheaderdistrictgood': districtListTileEmoticon == 'happy'}">
        <img ng-src="images/{{districtListTileEmoticon}}.png" class="face">{{districtListTile | translate}}</p>

    <table class="districts col-md-12">
        <tr ng-repeat="district in tdlData track by $index">
            <td class="rank">{{$index + 1}}.</td>
            <td class="name" ng-click="setMapView([district.latitude, district.longitude], 9, 0)">{{district.name}}</td>
            <td class="rank" ng-class="{'passratered': districtListTileEmoticon == 'sad', 'passrategreen': districtListTileEmoticon == 'happy'}">{{district.rate}}</td></tr>
    </table>
</div>