<div class="container-fluid district-schoollist">
    <div class="performance-header" ng-class="{'poor-perform': districtListTileEmoticon === 'sad', ' best-perform': districtListTileEmoticon === 'happy'}">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>{{districtListTile | translate}}</div>

    <table class="districts school-performance col-md-12">
        <tr ng-repeat="district in polygons track by $index">
            <td class="rank">{{$index + 1}}.</td>
            <td class="name"
              ng-click="selectPoly(district.id)"
              ng-mouseenter="hover(district.id)"
              ng-mouseleave="unHover()">{{district.id}}</td>
            <td class="rank" ng-class="{'passratered': districtListTileEmoticon === 'sad', 'passrategreen': districtListTileEmoticon === 'happy'}">{{district.properties.PASS_RATE | number: 1}} %</td></tr>
    </table>
</div>
