<div class="col-md-12">
    <p class="tableheaderdistrict"><img ng-src="images/{{districtListTileEmoticon}}.png" class="face">{{districtListTile | translate}}</p>

    <table class="schools col-md-12">
        <tr ng-repeat="district in tdlData track by $index">
            <td class="rank">{{$index + 1}}.</td>
            <!--TODO disable click until we have the location ng-click="setMapView(district.location, 9, 0)" -->
            <td class="name" >{{district.name}}</td>
            <td class="rank" ng-class="{'passratered': districtListTileEmoticon == 'sad', 'passrategreen': districtListTileEmoticon == 'happy'}">{{district.rate}}</td></tr>
    </table>
</div>